<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-ng-controller="NavController"
		data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Dashboard"></span> </a></li>
        <li>
            <a href="#/fiscal"><i class="fa fa-magic"></i><span data-i18n="Fiscal"></span></a>
            <ul>
				<li><a href="#/fiscal/apps/regime"><i class="fa fa-caret-right"></i><span data-i18n="Regime"></span></a></li>
				<li><a href="#/fiscal/apps/cfop"><i class="fa fa-caret-right"></i><span data-i18n="Cfop"></span></a></li>
				<li><a href="#/fiscal/apps/cnae"><i class="fa fa-caret-right"></i><span data-i18n="Cnae"></span></a></li>
				<li><span "---------------"></span></a></li>
                <li><a href="#/ui/buttons"><i class="fa fa-caret-right"></i><span data-i18n="Buttons"></span></a></li>
                <li><a href="#/ui/typography"><i class="fa fa-caret-right"></i><span data-i18n="Typography"></span></a></li>
                <li><a href="#/ui/widgets"><i class="fa fa-caret-right"></i><span data-i18n="Widgets"></span><span class="badge badge-success">13</span></a></li>
                <li><a href="#/ui/grids"><i class="fa fa-caret-right"></i><span data-i18n="Grids"></span></a></li>
                <li><a href="#/ui/icons"><i class="fa fa-caret-right"></i><span data-i18n="Icons"></span><span class="badge badge-warning">3</span></a></li>
                <li><a href="#/ui/components"><i class="fa fa-caret-right"></i><span data-i18n="Components"></span> <span class="badge badge-danger">19</span></a></li>
                <li><a href="#/ui/timeline"><i class="fa fa-caret-right"></i><span data-i18n="Timeline"></span></a></li>
                <li><a href="#/ui/tree"><i class="fa fa-caret-right"></i><span data-i18n="Tree"></span></a></li>
                <li><a href="#/ui/pricing-tables"><i class="fa fa-caret-right"></i><span data-i18n="Pricing Tables"></span></a></li>
                <li><a href="#/ui/maps"><i class="fa fa-caret-right"></i><span data-i18n="Maps"></span> <span class="badge badge-info">5</span></a></li>
            </ul>
        </li>
		<li>
			<a href="#/vendas"><i class="fa fa-magic"></i><span data-i18n="Vendas"></span></a>
            <ul>
				<li><a href="#/vendas/apps/orcamento"><i class="fa fa-caret-right"></i><span data-i18n="Orçamento"></span></a></li>
				<li><a href="#/vendas/apps/nfSaida"><i class="fa fa-caret-right"></i><span data-i18n="Nota Fiscal Saida"></span></a></li>
				<li><a href="#/vendas/apps/ordemServico"><i class="fa fa-caret-right"></i><span data-i18n="Ordem Serviço"></span></a></li>
            </ul>
        </li>
		<li>
			<a href="#/compras"><i class="fa fa-magic"></i><span data-i18n="Compras"></span></a>
            <ul>
				<li><a href="#/compras/apps/nfEntrada"><i class="fa fa-caret-right"></i><span data-i18n="Nota Fiscal Entrada"></span></a></li>
				<li><a href="#/compras/apps/pedidoCompras"><i class="fa fa-caret-right"></i><span data-i18n="Nota Fiscal Entrada"></span></a></li>
				<li><a href="#/compras/apps/aprovPedido"><i class="fa fa-caret-right"></i><span data-i18n="Aprovar Pedido Compra"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/financeiro"><i class="fa fa-table"></i><span data-i18n="Financeiro"></span></a>
            <ul>
				<li><a href="#/financeiro/apps/contasPagar"><i class="fa fa-caret-right"></i><span data-i18n="Contas Pagar"></span></a></li>
				<li><a href="#/financeiro/apps/contasReceber"><i class="fa fa-caret-right"></i><span data-i18n="Contas Receber"></span></a></li>
				<li><a href="#/financeiro/apps/condPag"><i class="fa fa-caret-right"></i><span data-i18n="Condição Pagamento"></span></a></li>
				<li><a href="#/financeiro/apps/formaPg"><i class="fa fa-caret-right"></i><span data-i18n="Forma Pagamento"></span></a></li>
				<li><a href="#/financeiro/apps/banco"><i class="fa fa-caret-right"></i><span data-i18n="Banco"></span></a></li>
				<li><a href="#/financeiro/apps/contaCC"><i class="fa fa-caret-right"></i><span data-i18n="Conta Corrente"></span></a></li>
				<li><a href="#/financeiro/apps/caixa"><i class="fa fa-caret-right"></i><span data-i18n="Caixa"></span></a></li>
                <li><a href="#/tables/static"><i class="fa fa-caret-right"></i><span data-i18n="Static Tables"></span></a></li>
                <li><a href="#/tables/responsive"><i class="fa fa-caret-right"></i><span data-i18n="Responsive Tables"></span><span class="badge badge-info">3</span></a></li>
                <li><a href="#/tables/dynamic"><i class="fa fa-caret-right"></i><span data-i18n="Dynamic Tables"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/Dp"><i class="fa fa-pencil"></i><span data-i18n="Departamento Pessoal"></span></a>
            <ul>
                <li><a href="#/funcionario/apps/funcionario"><i class="fa fa-caret-right"></i><span data-i18n="Funcionario"></span></a></li>
				<li><a href="#/eventos/apps/eventos"><i class="fa fa-caret-right"></i><span data-i18n="Eventos"></span> <span class="badge badge-warning">14</span></a></li>
                <li><a href="#/beneficios/apps/beneficios"><i class="fa fa-caret-right"></i><span data-i18n="Beneficios"></span></a></li>
            </ul>
        </li>
		<li>
            <a href="#/clinica"><i class="fa fa-pencil"></i><span data-i18n="Clinica"></span></a>
            <ul>
                <li><a href="#/clinica/apps/consulta"><i class="fa fa-caret-right"></i><span data-i18n="Consulta"></span></a></li>
				<li><a href="#/clinica/apps/agendarConsulta"><i class="fa fa-caret-right"></i><span data-i18n="Agendar Consulta"></span></a></li>
                <li><a href="#/clinica/apps/agendarExame"><i class="fa fa-caret-right"></i><span data-i18n="Agendar Exame"></span></a></li>
				<li><a href="#/clinica/apps/horarios"><i class="fa fa-caret-right"></i><span data-i18n="horarios"></span></a></li>
            </ul>
        </li>
		<li>
            <a href="#/condominio"><i class="fa fa-pencil"></i><span data-i18n="Condominio"></span></a>
            <ul>
                <li><a href="#/condominio/apps/sindico"><i class="fa fa-caret-right"></i><span data-i18n="Sindico"></span></a></li>
				<li><a href="#/condominio/apps/inquilino"><i class="fa fa-caret-right"></i><span data-i18n="Inquilino"></span></a></li>
                <li><a href="#/condominio/apps/avisos"><i class="fa fa-caret-right"></i><span data-i18n="Avisos"></span></a></li>
				<li><a href="#/condominio/apps/vlCondominio"><i class="fa fa-caret-right"></i><span data-i18n="Valor Condominio"></span></a></li>
            </ul>
        </li>
			<li>
            <a href="#/advogado"><i class="fa fa-pencil"></i><span data-i18n="Advogado"></span></a>
            <ul>
                <li><a href="#/advogado/apps/processo"><i class="fa fa-caret-right"></i><span data-i18n="Processo"></span></a></li>
				<li><a href="#/advogado/apps/status"><i class="fa fa-caret-right"></i><span data-i18n="Status"></span></a></li>
            </ul>
        </li>
       <li>
            <a href="#/charts"><i class="fa fa-bar-chart-o"></i><span data-i18n="Charts"></span></a>
            <ul>
                <li><a href="#/charts/chartjs"><i class="fa fa-caret-right"></i>Chart.js <span data-i18n="Charts"></span><span class="badge badge-danger">8</span></a></li>
                <li><a href="#/charts/flot"><i class="fa fa-caret-right"></i>Flot <span data-i18n="Charts"></span><span class="badge badge-info">11</span></a></li>
                <li><a href="#/charts/morris"><i class="fa fa-caret-right"></i>Morris <span data-i18n="Charts"></span><span class="badge badge-success">10</span></a></li>
                <li><a href="#/charts/charts"><i class="fa fa-caret-right"></i>Other <span data-i18n="Charts"></span><span class="badge badge-warning">7</span></a></li>
                <li><a href="#/charts/echarts"><i class="fa fa-caret-right"></i>ECharts <span data-i18n="Charts"></span><span class="badge badge-danger">5</span></a></li>
			</ul>
        </li>
        <li class="nav-task">
            <a href="#/tasks/tasks">
                <i class="fa fa-check-square-o"></i><span data-i18n="Tasks"></span>
                <span class="badge badge-danger main-badge"
                      data-ng-show="taskRemainingCount > 0">{{taskRemainingCount}}</span>
            </a>
        </li>
        <li>
            <a href="#/mail"><i class="fa fa-envelope-o"></i><span data-i18n="Cadastros"></span></a>
            <ul>
			    <li><a href="#/cliente/apps/cliente"><i class="fa fa-caret-right"></i><span data-i18n="Cliente"></span></a></li>
                <li><a href="#/fornecedor/apps/fornecedor"><i class="fa fa-caret-right"></i><span data-i18n="Fornecedor"></span></a></li>
				<li><a href="#/cliente/apps/"><i class="fa fa-caret-right"></i><span data-i18n="Transportador"></span></a></li>
                <li><a href="#/cliente/apps/"><i class="fa fa-caret-right"></i><span data-i18n="Filial"></span></a></li>
				<li><a href="#/cliente/apps/"><i class="fa fa-caret-right"></i><span data-i18n="Deposito"></span></a></li>
				<li><a href="#/cliente/apps/"><i class="fa fa-caret-right"></i><span data-i18n="Tarefas"></span></a></li>
				<li><a href="#/cliente/apps/"><i class="fa fa-caret-right"></i><span data-i18n="Convenio"></span></a></li>
				<li><a href="#/cliente/apps/"><i class="fa fa-caret-right"></i><span data-i18n="Cidade"></span></a></li>
				<li><a href="#/estado/apps/estado"><i class="fa fa-caret-right"></i><span data-i18n="Estado"></span></a></li>
                <li><a href="#/mail/inbox"><i class="fa fa-caret-right"></i><span data-i18n="Inbox"></span></a></li>
                <li><a href="#/mail/compose"><i class="fa fa-caret-right"></i><span data-i18n="Compose"></span></a></li>
                <li><a href="#/mail/single"><i class="fa fa-caret-right"></i><span data-i18n="Single Mail"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/apps"><i class="fa fa-wrench"></i><span data-i18n="Produto"></span></a>
            <ul><li><a href="#/apps/stocks"><i class="fa fa-caret-right"></i><span data-i18n="Produto"></span></a></li>
				<li><a href="#/apps/stocks"><i class="fa fa-caret-right"></i><span data-i18n="Marca"></span></a></li>
				<li><a href="#/apps/stocks"><i class="fa fa-caret-right"></i><span data-i18n="Grupo"></span></a></li>
				<li><a href="#/apps/stocks"><i class="fa fa-caret-right"></i><span data-i18n="Sub Grupo"></span></a></li>
				<li><a href="#/apps/stocks"><i class="fa fa-caret-right"></i><span data-i18n="Unidade Medida"></span></a></li>
                <li><a href="#/apps/stocks"><i class="fa fa-caret-right"></i><span data-i18n="Stocks"></span></a></li>
                <li><a href="#/apps/counties" ><i class="fa fa-caret-right"></i><span data-i18n="Counties"></span></a></li>
                <li><a href="#/apps/procedures"><i class="fa fa-caret-right"></i><span data-i18n="Procedures"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/pages"><i class="fa fa-file-text-o"></i><span data-i18n="Pages"></span></a>
            <ul>
                <li><a href="#/pages/invoice"><i class="fa fa-caret-right"></i><span data-i18n="Invoice"></span></a></li>
				<li><a href="#/pages/profile"><i class="fa fa-caret-right"></i><span data-i18n="User Profile"></span></a></li>
                <li><a href="#/pages/404"><i class="fa fa-caret-right"></i>404 <span data-i18n="Error"></span></a></li>
                <li><a href="#/pages/500"><i class="fa fa-caret-right"></i>500 <span data-i18n="Error"></span></a></li>
                <li><a href="#/pages/blank"><i class="fa fa-caret-right"></i><span data-i18n="Blank Page"></span></a></li>
            </ul>
        </li>
    </ul>
</div>