<div class="page">


    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Wizard Form</strong></div>
        <div class="panel-body">
            <div data-ui-wizard-form>
                <h1>Informação do Usuario</h1>
                <div>Informação do Usuario
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">

                                        <form role="form">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Nome Completo</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Nome Completo">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">CPF</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="CPF">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Telefone</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Telefone">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Senha</label>
                                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Confirmar Senha</label>
                                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirmar Senha">
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Check me out
                                                </label>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-w-md">Submit</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                    </div>


                <h1>Informação Empresa</h1>
                <div>Informação Empresa</div>

                <h1>Escolha Plano</h1>
                <div>Escolha Plano</div>

                <h1>Pagamento</h1>
                <div>Pagamento</div>
            </div>

        </div>
    </section>

	<div data-ui-footer></div>
</div>
<script>
    $( document ).ready(function() {
        $('#dashboard-nav').hide();
        $('#dashboard-header').hide();
        $('#teste').hide()


    });
</script>