    <link rel="stylesheet" href="dist/css/formValidation.css"/>
    <link rel="stylesheet" href="dist/css/select2.css"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2.css"/>
    <link href="thirdparty/twitter-bootstrap-wizard-master/prettify.css" rel="stylesheet">
    <link rel="stylesheet" href="thirdparty/jQuery-File-Upload-master/css/jquery.fileupload.css">
    <link rel="stylesheet" href="thirdparty/jQuery-File-Upload-master/css/jquery.fileupload-ui.css">
<!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel="stylesheet" href="thirdparty/jQuery-File-Upload-master/css/jquery.fileupload-noscript.css"></noscript>
    <noscript><link rel="stylesheet" href="thirdparty/jQuery-File-Upload-master/css/jquery.fileupload-ui-noscript.css"></noscript>

    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="js/vendor/jquery.ui.widget.js"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->

    <!-- The main application script
    <script src="thirdparty/jQuery-File-Upload-master/js/main.js"></script>-->

    <script src="vendor/bootstrap/js/bootstrap.js"></script>
    <script src="dist/js/select2.min.js"></script>
    <script src="dist/js/formValidation.js"></script>
    <script src="dist/js/framework/bootstrap.js"></script>
    <script src="thirdparty/twitter-bootstrap-wizard-master/jquery.bootstrap.wizard.js"></script>
    <script src="thirdparty/twitter-bootstrap-wizard-master/prettify.js"></script>



<div class='container' data-ng-controller="EmpresaController as cc">

            <section id="wizard" style="background : white">
              <div class="page-header">
                <h1>Wizard With Form Validation</h1>
              </div>

                <div id="rootwizard">
                    <div class="navbar">
                      <div class="navbar-inner">
                        <div class="container">
                    <ul>
                        <li><a href=".tab1" data-toggle="tab">Informações do Usuario</a></li>
                        <li><a href=".tab2" data-toggle="tab">Informações da Empresa</a></li>
                        <li><a href=".tab3" data-toggle="tab">Informações de Socios</a></li>
                        <li><a href=".tab4" data-toggle="tab">Informações Plano Serviçoes</a></li>
                        <li><a href=".tab5" data-toggle="tab">Contrato Social</a></li>
                        <li><a href=".tab6" data-toggle="tab">Pagamento</a></li>
                    </ul>
                     </div>
                      </div>
                    </div>
                    <div id="bar" class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;background : red"></div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane tab1" id="tab1">
                            <div class="panel-body" >
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Nome Completo</label>
                                            <input type="text"  ng-model="empresa.usuarios[0].nome" name="nome" class="form-control" placeholder="Nome Completo">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">CPF</label>
                                            <input type="text"  class="form-control" name="cpf" ng-model="empresa.usuarios[0].cpf.numero"  placeholder="CPF">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Telefone</label>
                                            <input type="text" class="form-control" ng-model="empresa.usuarios[0].telefone" name="telefone" placeholder="Telefone">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email</label>
                                            <input type="email" id='email' class="form-control" ng-model="empresa.usuarios[0].email" name="email" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Senha</label>
                                            <input type="password" class="form-control" ng-model="empresa.usuarios[0].senha" name="password" placeholder="Senha">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Confirmar Senha</label>
                                            <input type="password" class="form-control" ng-model="senha"  name="confirmPassword" placeholder="Confirmar Senha">
                                        </div>

                                </div>
                            </div>
                        </div>

                        </div>
                        <div class="tab-pane tab2" id="tab2">
                            <div class="panel-body" >
                                <div class="row">
                                    <div class="col-sm-8">
                                        <label for="exampleInputPassword1">Digite seu CNPJ</label>
                                        <input type="text" class="form-control col-sm-8" ng-model="empresa.documentos[0].numero" placeholder="CNPJ">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="exampleInputPassword1">Informe o Numero de Funcionarios</label>
                                        <input type="text" class="form-control col-sm-4" ng-model="empresa.numFunc" placeholder="Numero de Funcionarios">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="exampleInputPassword1">Informe a Razão Social</label>
                                        <input type="text" class="form-control col-sm-8" ng-model="empresa.nome" placeholder="Razão Social">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="exampleInputPassword1">Sua Empresa Esta Ativa?</label>
                                        <dl class="dl-horizontal">
                                            <dd>
                                                <label class="ui-radio"><input name="radio1" ng-model="empresa.statusInicial" type="radio" value="1" ><span>Sim</span></label>
                                                <label class="ui-radio"><input name="radio1" ng-model="empresa.statusInicial" type="radio" value="2" checked><span>Não</span></label>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="col-sm-6">
                                       <label for="exampleInputPassword1">Selecione o regime Tributario da Empresa</label>
                                        <dl class="dl-horizontal">
                                            <dd>
                                                <label class="ui-radio"><input name="radio1" type="radio" ng-model="empresa.regime.id" value="1" checked ><span>Simples Nacional</span></label>
                                                <label class="ui-radio"><input name="radio1" type="radio" ng-model="empresa.regime.id" value="2" ><span>Lucro Real</span></label>
                                                <label class="ui-radio"><input name="radio1" type="radio" ng-model="empresa.regime.id" value="3" ><span>Lucro Presumido</span></label>
                                            </dd>
                                        </dl>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                    <label for="exampleInputPassword1">CEP</label>
                                        <div class="input-group">

                                            <input type="text" class="form-control" ng-model="empresa.enderecos[0].cep">
                                            <span class="input-group-btn">

                                                <button class="btn btn-default" type="button" ng-click="cc.buscaRCep('38082243')"><i class="glyphicon glyphicon-search"> </i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-9">
                                        <label for="exampleInputPassword1">Logradouro</label>
                                        <input type="text" class="form-control col-sm-8" ng-model="empresa.enderecos[0].logradouro" placeholder="Logradouro">
                                    </div>
                                    <div class="col-sm-9">
                                        <label for="exampleInputPassword1">Numero</label>
                                        <input type="text" class="form-control col-sm-4" ng-model="empresa.enderecos[0].numero" placeholder="Numero">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="exampleInputPassword1">Complemento</label>
                                        <input type="text" class="form-control col-sm-8" ng-model="empresa.enderecos[0].complemento" placeholder="Complemento">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="exampleInputPassword1">Bairro</label>
                                        <input type="text" class="form-control col-sm-4" ng-model="empresa.enderecos[0].bairro" placeholder="Bairro">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="exampleInputPassword1">Estado</label>
                                        <input type="text" class="form-control col-sm-8" ng-model="empresa.enderecos[0].cidade.estado" placeholder="Estado">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="exampleInputPassword1">Municipio</label>
                                        <input type="text" class="form-control col-sm-4" ng-model="empresa.enderecos[0].cidade.nome" placeholder="Municipio">
                                    </div>

                                    <div class="col-sm-4">
                                        <label for="exampleInputPassword1">Codigo IBGE</label>
                                        <input type="text" class="form-control col-sm-4" ng-model="empresa.enderecos[0].codIbge" placeholder="Codigo IBGE">
                                    </div>
                                </div>

                                <!-- -------------------  TELEFONE ----------------- -->
                                <div class="row">
                                    <div class="col-sm-4">
                                    <label for="exampleInputPassword1">Telefone</label>
                                        <input type="text" class="form-control col-sm-4" ng-model="empresa.telefones[0].numero" name="phone" placeholder="Telefone">
                                    </div>
                                    <div class="col-sm-4" style="margin-top:25px">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Adicionar <span class="caret"></span></button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="javascript:;" class="addPhoneButton" data-name="phone_iphone">Principal</a></li>
                                                <li><a href="javascript:;" class="addPhoneButton" data-name="phone_home">Compras</a></li>
                                                <li><a href="javascript:;" class="addPhoneButton" data-name="phone_office">Vendas</a></li>
                                                <li><a href="javascript:;" class="addPhoneButton" data-name="phone_office">SAC</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Template for dynamic field -->
                                <div class="row" id="template" style="display: none;">
                                    <div class="col-sm-4">
                                    <label for="exampleInputPassword1">Telefone</label>
                                        <input type="text" class="form-control col-sm-4" ng-model="empresa.telefones[1].numero" placeholder="Telefone">
                                    </div>
                                    <div class="col-sm-4" style="margin-top:25px">
                                        <button type="button" class="btn btn-link removeButton">deletar</button>
                                    </div>
                                </div>

                                <!-- ------------------------------------- --><!-- ------------------------------------- -->

                                <!-- -------------------  Email Empresa ----------------- -->
                                <div class="row">
                                    <div class="col-sm-4">
                                    <label for="exampleInputPassword1">Email</label>
                                        <input type="text" class="form-control col-sm-4" ng-model="empresa.emails[0].email" name="email" placeholder="Email">
                                    </div>
                                    <div class="col-sm-4" style="margin-top:25px">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Adicionar <span class="caret"></span></button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="javascript:;" class="addEmailButton" data-name="email_princ">Principal</a></li>
                                                <li><a href="javascript:;" class="addEmailButton" data-name="email_home">Compras</a></li>
                                                <li><a href="javascript:;" class="addEmailButton" data-name="email_office">Vendas</a></li>
                                                <li><a href="javascript:;" class="addEmailButton" data-name="email_nfe">NFE</a></li>
                                                <li><a href="javascript:;" class="addEmailButton" data-name="email_sac">SAC</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Template for dynamic field -->
                                <div class="row" id="template-email" style="display: none;">
                                    <div class="col-sm-4">
                                    <label for="exampleInputPassword1">Email</label>
                                        <input type="email" class="form-control col-sm-4" ng-model="empresa.emails[1].email" placeholder="Email">
                                    </div>
                                    <div class="col-sm-4" style="margin-top:25px">
                                        <button type="button" class="btn btn-link removeButton">deletar</button>
                                    </div>
                                </div>

                                <!-- ------------------------------------- --><!-- ------------------------------------- -->




                                <div class="row">
                                    <div class="col-sm-6">
                                    <label for="exampleInputPassword1">Atividade Principal da Empresa</label>
                                        <select id="atividade1" name="atividade1" class="form-control">
                                            <option> teste 001</option>
                                            <option> teste 002</option>
                                            <option> teste 003</option>
                                            <option> teste 004</option>
                                            <option> teste 005</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                            <div class="col-sm-5">
                                                <label for="exampleInputPassword1">Atividade Secundaria da Empresa</label>
                                                <select id="mySel" name="cnae" class="form-control">
                                                    <option> teste 001</option>
                                                    <option> teste 002</option>
                                                    <option> teste 003</option>
                                                    <option> teste 004</option>
                                                    <option> teste 005</option>

                                                </select>

                                                <button type="button" class="btn btn-default addButton1"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </div>
                                    <div class="row">
                                        <div class="form-group hide" id="bookTemplate1">
                                            <div class="col-sm-6">
                                            <label for="exampleInputPassword1">Outras Atividades</label>
                                                <select id="mySel" class="form-control">
                                                    <option> teste 001</option>
                                                    <option> teste 002</option>
                                                    <option> teste 003</option>
                                                    <option> teste 004</option>
                                                    <option> teste 005</option>

                                                </select>

                                            <div class="col-xs-1">
                                                <button type="button" class="btn btn-default removeButton1"><i class="fa fa-minus"></i></button>
                                            </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane tab3" id="tab3">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="exampleInputPassword1">CPF Socio</label>
                                    <input type="text" class="form-control" ng-model="empresa.socios[0].documentos[0].numero" name="book[0].title" placeholder="CPF Socio" />
                                </div>
                                <div class="col-sm-4">
                                    <label for="exampleInputPassword1">Nome Socio</label>
                                    <input type="text" class="form-control" ng-model="empresa.socios[0].documentos[0].nome" name="book[0].isbn" placeholder="Nome Socio" />
                                </div>
                                <div class="col-sm-2">
                                    <label for="exampleInputPassword1">Porcentagem</label>
                                    <input type="text" class="form-control" ng-model="empresa.socios[0].porcentagem" name="book[0].price" placeholder="%" />
                                </div>
                                <div class="col-sm-3" style="margin-top:18px">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="receiver" ng-model="empresa.socios[0].socioAdm" value="1" /> Socio Administrador ?
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-1" style="margin-top:18px">
                                    <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane tab4" id="tab4">
                            <div class="mbr-section__container mbr-section__container--std-top-padding container" style="padding-top: 93px; margin-bottom: 0px;">
        <div class="row">
            <div class="mbr-plan col-xs-12 mbr-plan--first col-md-3 col-sm-6">
                <div class="mbr-plan__box">
                    <div class="mbr-plan__header">
                        <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                            <h3 class="mbr-header__text">STANDARD</h3>
                        </div>
                    </div>
                    <div class="mbr-plan__number">
                        <div class="mbr-number mbr-number--price">
                            <div class="mbr-number__num">
                                <div class="mbr-number__group">
                                    <sup class="mbr-number__left">$</sup><span class="mbr-number__value">0</span>
                                </div>
                            </div>
                            <div class="mbr-number__caption">per month</div>
                        </div>
                    </div>
                    <div class="mbr-plan__details"><ul><li><strong>32 GB</strong> Storage</li><li><strong>Unlimited</strong> Users</li><li><strong>15 GB</strong> Bandwidth</li></ul></div>
                    <div class="mbr-plan__buttons">
                        <div class="mbr-buttons mbr-buttons--center"><a href="https://mobirise.com" class="mbr-buttons__btn btn btn-wrap btn-xs-lg btn-default">DEMO LINK</a></div>
                    </div>
                </div>
            </div>
            <div class="mbr-plan col-xs-12 mbr-plan--success col-md-3 col-sm-6">
                <div class="mbr-plan__box">
                    <div class="mbr-plan__header">
                        <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                            <h3 class="mbr-header__text">BUSINESS</h3>
                        </div>
                    </div>
                    <div class="mbr-plan__number">
                        <div class="mbr-number mbr-number--price">
                            <div class="mbr-number__num">
                                <div class="mbr-number__group">
                                    <sup class="mbr-number__left">$</sup><span class="mbr-number__value">0</span>
                                </div>
                            </div>
                            <div class="mbr-number__caption">per month</div>
                        </div>
                    </div>
                    <div class="mbr-plan__details"><ul><li><strong>80 GB</strong> Storage</li><li><strong>Unlimited</strong> Users</li><li><strong>20 GB</strong> Bandwidth</li></ul></div>
                    <div class="mbr-plan__buttons">
                        <div class="mbr-buttons mbr-buttons--center"><a href="https://mobirise.com" class="mbr-buttons__btn btn btn-wrap btn-xs-lg btn-default">DEMO LINK</a></div>
                    </div>
                </div>
            </div>
            <div class="mbr-plan col-xs-12 mbr-plan--danger mbr-plan--favorite col-md-3 col-sm-6">
                <div class="mbr-plan__box">
                    <div class="mbr-plan__header">
                        <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                            <h3 class="mbr-header__text">PREMIUM</h3>
                        </div>
                    </div>
                    <div class="mbr-plan__number">
                        <div class="mbr-number mbr-number--price">
                            <div class="mbr-number__num">
                                <div class="mbr-number__group">
                                    <sup class="mbr-number__left">$</sup><span class="mbr-number__value">0</span>
                                </div>
                            </div>
                            <div class="mbr-number__caption">per month</div>
                        </div>
                    </div>
                    <div class="mbr-plan__details"><ul><li><strong>100 GB</strong> Storage</li><li><strong>Unlimited</strong> Users</li><li><strong>50 GB</strong> Bandwidth</li></ul></div>
                    <div class="mbr-plan__buttons">
                        <div class="mbr-buttons mbr-buttons--center"><a href="https://mobirise.com" class="mbr-buttons__btn btn btn-wrap btn-xs-lg btn-default">DEMO LINK</a></div>
                    </div>
                </div>
            </div>
            <div class="mbr-plan col-xs-12 mbr-plan--warning mbr-plan--last col-md-3 col-sm-6">
                <div class="mbr-plan__box">
                    <div class="mbr-plan__header">
                        <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                            <h3 class="mbr-header__text">ULTIMATE</h3>
                        </div>
                    </div>
                    <div class="mbr-plan__number">
                        <div class="mbr-number mbr-number--price">
                            <div class="mbr-number__num">
                                <div class="mbr-number__group">
                                    <sup class="mbr-number__left">$</sup><span class="mbr-number__value">0</span>
                                </div>
                            </div>
                            <div class="mbr-number__caption">per month</div>
                        </div>
                    </div>
                    <div class="mbr-plan__details"><ul><li><strong>Unlimited</strong> Storage</li><li><strong>Unlimited</strong> Users</li><li><strong>1 TB</strong> Bandwidth</li></ul></div>
                    <div class="mbr-plan__buttons">
                        <div class="mbr-buttons mbr-buttons--center"><a href="https://mobirise.com" class="mbr-buttons__btn btn btn-wrap btn-xs-lg btn-default">DEMO LINK</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
                        </div>
                        <div class="tab-pane tab5" id="tab5">
                            <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
                                <!-- Redirect browsers with JavaScript disabled to the origin page -->
                                <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                                <div class="row fileupload-buttonbar">
                                    <div class="col-lg-7">
                                        <!-- The fileinput-button span is used to style the file input field as button -->
                                        <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>Add files...</span>
                                            <input type="file" name="files[]" multiple>
                                        </span>
                                        <button type="submit" class="btn btn-primary start">
                                            <i class="glyphicon glyphicon-upload"></i>
                                            <span>Start upload</span>
                                        </button>
                                        <button type="reset" class="btn btn-warning cancel">
                                            <i class="glyphicon glyphicon-ban-circle"></i>
                                            <span>Cancel upload</span>
                                        </button>
                                        <button type="button" class="btn btn-danger delete">
                                            <i class="glyphicon glyphicon-trash"></i>
                                            <span>Delete</span>
                                        </button>
                                        <input type="checkbox" class="toggle">
                                        <!-- The global file processing state -->
                                        <span class="fileupload-process"></span>
                                    </div>
                                    <!-- The global progress state -->
                                    <div class="col-lg-5 fileupload-progress fade">
                                        <!-- The global progress bar -->
                                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                        </div>
                                        <!-- The extended global progress state -->
                                        <div class="progress-extended">&nbsp;</div>
                                    </div>
                                </div>
                                <!-- The table listing the files available for upload/download -->
                                <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab6">
                            6
                        </div>
                        <ul class="pager wizard">
                            <li class="previous first" style="display:none;"><a href="javascript:;">First</a></li>
                            <li class="previous"><a href="javascript:;">Previous</a></li>
                            <li class="next last" style="display:none;"><a href="javascript:;">Last</a></li>
                            <li class="next"><a href="javascript:;">Next</a></li>
                            <li class=""><a href="javascript:;" ng-click="cc.teste()">save</a></li>
                        </ul>
                    </div>
                </div>



            </section>
    </div>
    <script>
    $(document).ready(function() {

        bookIndex = 0;

    $('#bookForm')
        .formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
            nome: {
                message: 'The username is not valid',
                validators: {
                    notEmpty: {
                        message: 'The username is required and can\'t be empty'
                    },
                    stringLength: {
                        min: 6,
                        max: 30,
                        message: 'The username must be more than 6 and less than 30 characters long'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_\.]+$/,
                        message: 'The username can only consist of alphabetical, number, dot and underscore'
                    }
                }
            },
            cpf: {
                validators: {
                    notEmpty: {
                        message: 'The country is required and can\'t be empty'
                    },
                    stringLength: {
                        min: 6,
                        max: 30,
                        message: 'The username must be more than 6 and less than 30 characters long'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_\.]+$/,
                        message: 'The username can only consist of alphabetical, number, dot and underscore'
                    }
                 }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'The email address is required and can\'t be empty'
                    },
                    emailAddress: {
                        message: 'The input is not a valid email address'
                    }
                }
            },
            telefone: {
                validators: {
                    phone: {
                        message: 'The input is not a valid UK phone number',
                        country: 'BR'
                    }
                }
            },
            cep: {
                validators: {
                    zipCode: {
                        country: 'BR',
                        message: 'The input is not a valid US zip code'
                    }
                }
            },
            password: {
                validators: {
                    notEmpty: {
                        message: 'The password is required and can\'t be empty'
                    }
                }
            },
            confirmPassword: {
                validators: {
                    notEmpty: {
                        message: 'The confirm password is required and can\'t be empty'
                    },
                    identical: {
                        field: 'password',
                        message: 'The password and its confirm are not the same'
                    }
                }
            }

        }
        });
        $("select").select2({
          placeholder: "Select a state",
          allowClear: true
        });

        $('#rootwizard').bootstrapWizard({onNext: function(tab, navigation, index) {
            /*  if(index==2) {
                    // Make sure we entered the name
                    if(!$('#name').val()) {
                        alert('You must enter your name');
                        $('#name').focus();
                        return false;
                    }
                }

                // Set the name for the next tab
                $('#tab3').html('Hello, ' + $('#name').val());
            */
            }, onTabShow: function(tab, navigation, index) {

                var $total = navigation.find('li').length;
                var $current = index+1;
                var $percent = ($current/$total) * 100;
                $('#rootwizard .progress-bar').css({width:$percent+'%'});
            }});
        window.prettyPrint && prettyPrint();

        //============================= Telefone
        $('.addPhoneButton').on('click', function() {
            var $that     = $(this),
                $template = $('#template'),
                $newRow   = $template.clone().removeAttr('id').insertBefore($template).show();

            $that.parent().addClass('disabled');

            // Set the label and field name
            var fieldName = $that.attr('data-name');
            $newRow
                .find('.control-label')
                    .html($that.html())
                    .end()
                .find('input')
                    .attr('name', fieldName)
                    .end()
                .on('click', '.removeButton', function() {
                    // Remove field when clicking the Remove button
                    $('#contactForm').formValidation('removeField', fieldName);

                    // Enable the Add button
                    $that.parent().removeClass('disabled');

                    // Remove element
                    $newRow.remove();
                });

            // Add new field
            $('#contactForm').formValidation('addField', fieldName, {
                message: 'The phone number is not valid',
                validators: {
                    digits: {
                        message: 'The value can contain only digits'
                    }
                }
            });
        });
        //============================= Telefone fim

        //============================= Email
        $('.addPhoneButton').on('click', function() {
            var $that     = $(this),
                $template = $('#template'),
                $newRow   = $template.clone().removeAttr('id').insertBefore($template).show();

            $that.parent().addClass('disabled');

            // Set the label and field name
            var fieldName = $that.attr('data-name');
            $newRow
                .find('.control-label')
                    .html($that.html())
                    .end()
                .find('input')
                    .attr('name', fieldName)
                    .end()
                .on('click', '.removeButton', function() {
                    // Remove field when clicking the Remove button
                    $('#contactForm').formValidation('removeField', fieldName);

                    // Enable the Add button
                    $that.parent().removeClass('disabled');

                    // Remove element
                    $newRow.remove();
                });

            // Add new field
            $('#contactForm').formValidation('addField', fieldName, {
                message: 'The phone number is not valid',
                validators: {
                    digits: {
                        message: 'The value can contain only digits'
                    }
                }
            });
        });
        //============================= Email fim

    });
    </script>