<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="CODIGO">
	{$CODIGO_editcontrol}
	</control>
	<control 
	field="NOME">
	{$NOME_editcontrol}
	</control>
	<control 
	field="ENDERECO">
	{$ENDERECO_editcontrol}
	</control>
	<control 
	field="BAIRRO">
	{$BAIRRO_editcontrol}
	</control>
	<control 
	field="CIDADE">
	{$CIDADE_editcontrol}
	</control>
	<control 
	field="CPF">
	{$CPF_editcontrol}
	</control>
	<control 
	field="RG">
	{$RG_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
