<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="CODIGO">
	{$CODIGO_editcontrol}
	</control>
	<control field="CODBARRA">
	{$CODBARRA_editcontrol}
	</control>
	<control field="PRODUTO">
	{$PRODUTO_editcontrol}
	</control>
	<control field="NOTAFISCAL">
	{$NOTAFISCAL_editcontrol}
	</control>
	<control field="CODGRUPO">
	{$CODGRUPO_editcontrol}
	</control>
	<control field="CODSUBGRUPO">
	{$CODSUBGRUPO_editcontrol}
	</control>
	<control field="CODFORNECEDOR">
	{$CODFORNECEDOR_editcontrol}
	</control>
	<control field="CODMARCA">
	{$CODMARCA_editcontrol}
	</control>
	<control field="UNIDADE">
	{$UNIDADE_editcontrol}
	</control>
	<control field="VALIDADE">
	{$VALIDADE_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>