<style>
    .wash {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    .tabs-was {
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    background-color: #CCC;
    color: #696969;
    }
    #mainView {
    border: 1px solid black;
    clear: both;
    }
    .active {
    background-color: #FFF;
    color: #000;
    }
</style>
<div class="container col-sm-12" ng-controller="produtoController">
    <form id="installationForm" ng-submit="submit()" id="empresaForm" class="form-horizontal">
        <div id="tabs" >
            <ul class="wash">
                <li ng-repeat="tab in tabs"
                    class="tabs-was"
                    ng-class="{active:isActiveTab(tab.url)}"
                    ng-click="onClickTab(tab)">{{tab.title}}</li>
            </ul>
            <div id="mainView" class="col-sm-12" style="background-color:white">
                <div ng-include="currentTab"></div>
            </div>
        </div>
        <script type="text/ng-template" id="one.tpl.html">
            <div role="tabpanel" class="tab-pane active home col-sm-11" style="margin-left:1%" id="home">

            <div class="row">
            <div class="row">
             <div class="hide">
                <div class="form-group">
                     <label for="exampleInputPassword1"></label>
                     <input type="text" class="form-control col-sm-8 hide" ng-model="produto.id" name="id"  placeholder="id">
                </div>
            </div>
            <div class="col-sm-8 ">
                <div class="form-group">
                     <label for="exampleInputPassword1">Produto</label>
                     <input type="text" class="form-control " ng-model="produto.nome" name="produto"  placeholder="Nome do Produto">
                </div>
            </div>
             <div class="col-sm-4 ">
                <div class="form-group">
                     <label for="exampleInputPassword1">Código personalizado</label>
                     <input type="text" class="form-control " ng-model="produto.codigo" name="codigo"  placeholder="Código Interno">
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-sm-3 ">
                <div class="form-group">
                     <label for="exampleInputPassword1">NCM</label>
                     <input type="text" class="form-control  " ng-model="produto.nCM" name="ncm"  placeholder="NCM">
                </div>
            </div>
             <div class="col-sm-3 ">
                <div class="form-group">
                     <label for="exampleInputPassword1">Código de barras (EAN):</label>
                     <input type="text" class="form-control  " ng-model="produto.cdBarras" name="cdBarras"  placeholder="cdBarras">
                </div>
            </div>
            <div class="col-sm-2 ">
                <div class="form-group">
                     <label for="exampleInputPassword1">Data Cadastro</label>
                     <input type="text" class="form-control  " ng-model="produto.dataCadastro" name="dataCadastro"  placeholder="Data Cadastro">
                </div>
            </div>
            <div class="col-sm-2 ">
                <div class="form-group">
                     <label for="exampleInputPassword1">Exceção tab IPI</label>
                     <input type="text" class="form-control  " ng-model="produto.excecaoIPI" name="excecaoIPI"  placeholder="Exceção IPI">
                </div>
            </div>
            <div class="col-sm-2 ">
                <div class="form-group">
                     <label for="exampleInputPassword1">CEST</label>
                     <input type="text" class="form-control col-sm-8 " ng-model="produto.cEST" name="cEST"  placeholder="CEST">
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-sm-6 ">
                <div class="form-group">
                     <label for="exampleInputPassword1">Inform. adicionais para a NFe</label>
                     <input type="text" class="form-control col-sm-8 " ng-model="produto.informAdicionaisParaNFe" name="informAdicionaisParaNFe"  placeholder="Informações Adicionais Para NFe">
                </div>
            </div>
            <div class="col-sm-6 ">
                <div class="form-group">
                     <label for="exampleInputPassword1">Anotações internas</label>
                     <input type="text" class="form-control col-sm-8 " ng-model="produto.anotainternas" name="anotainternas"  placeholder="Anotaçoes Internas">
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-sm-4 ">
            <div class="form-group">
                 <label for="exampleInputPassword1">Unidade tributada</label>
                 <select id="unidTributada" name="unidTributada"  ng-model="produto.unidTributada" class="form-control">
                    <option value="01">UN</option>
                    <option value="02">PC</option>
                    <option value="03">CX</option>
                    <option value="04">CJ</option>
                    <option value="05">MT</option>
                    <option value="06">M2</option>
                    <option value="07">M3</option>
                    <option value="08">KG</option>
                    <option style="background-color : #F1F4F9"><a>Adicionar Novo </a><i class="glyphicon glyphicon-plus"></i></option>
                </select>
            </div>
            </div>
            <div class="col-sm-4 ">
            <div class="form-group">
                 <label for="exampleInputPassword1">Categoria</label>
                 <select id="atividade1" name="atividade1" ng-model="produto.categoria" class="form-control">
                    <option value="01">Agronegócios</option>
                    <option value="02">Adubo Orgânico</option>
                    <option value="03">Agricultura</option>
                    <option value="04">Agroindústria</option>
                    <option value="05">Agrotóxicos</option>
                    <option value="06">Equipamentos Agrícolas</option>
                    <option value="07">Equipamentos de Irrigação</option>
                    <option value="08">Fazendas</option>
                    <option value="09">Fertilizantes</option>
                    <option value="10">Floriculturas</option>
                    <option value="11">Frigoríficos e Abatedouros</option>
                    <option value="12">Gado Bovino de Corte</option>
                    <option value="13">Gado Leiteiro</option>
                    <option value="14">Gestão Rural</option>
                    <option value="15">Insumos Agrícolas</option>
                    <option value="16">Laticínios e Hortifruti</option>
                    <option value="17">Meio Ambiente</option>
                    <option value="18">Nutrição Animal</option>
                    <option value="19">Pecuárias Diversas</option>
                    <option value="20">Plantas e Mudas</option>
                    <option value="21">Produtos Orgânicos</option>
                    <option value="22">Sementes</option>
                    <option value="23">Tecnologia em Agronegócios</option>
                    <option value="24">Alimentos e Bebidas</option>
                    <option value="25">Alimentos Industrializados</option>
                    <option value="26">Alimentos Naturais</option>
                    <option value="27">Bares e Lanchonetes</option>
                    <option value="28">Bebidas Diversas</option>
                    <option value="29">Bebidas não Alcoólicas</option>
                    <option value="30">Buffet e Eventos</option>
                    <option value="31">Cesta Básica</option>
                    <option value="32">Cesta de Natal</option>
                    <option value="33">Comércio de Alimentos</option>
                    <option value="34">Doces e Chocolates</option>
                    <option value="35">Outras Bebidas</option>
                    <option value="36">Outros Alimentos</option>
                    <option value="37">Pizzarias</option>
                    <option value="38">Receitas de Alimentos</option>
                    <option value="39">Restaurantes</option>
                    <option value="40">Suplemento Alimentar</option>
                    <option value="41">Vinhos</option>
                    <option value="42">Vitaminas</option>
                    <option value="43">Automação</option>
                    <option value="44">Automação Comercial</option>
                    <option value="45">Automação Industrial</option>
                    <option value="46">Automação Residencial</option>
                    <option value="47">Balanças Comerciais</option>
                    <option value="48">Bobina de Papel pdv</option>
                    <option value="49">Caixa Registradora</option>
                    <option value="50">Equipamentos para Automação</option>
                    <option style="background-color : #F1F4F9"><a>Adicionar Novo </a><i class="glyphicon glyphicon-plus"></i></option>
                </select>
            </div>
            </div>
            <div class="col-sm-4 ">
            <div class="form-group">
                <label for="exampleInputPassword1">Marca</label>
                <select id="atividade1" name="atividade1" class="form-control">
                    <option value="01">AlfaParfMilano SAC 0800 0212652</option>
                    <option value="02">Alta Moda SAC 0800 0212652</option>
                    <option value="03">Alterna www.alternahaircare.com</option>
                    <option value="04">Arcancil Paris SAC 0800 9709877</option>
                    <option value="05">Avène SAC 0800 7021037</option>
                    <option value="06">Avon SAC 0800 7082866</option>
                    <option value="07">Bare Minerals www.bareminerals.com</option>
                    <option value="08">BCBG Maxazria sac@elizabetharden.com</option>
                    <option style="background-color : #F1F4F9"><a>Adicionar Novo </a><i class="glyphicon glyphicon-plus"></i></option>

                </select>
            </div>
            </div>
            </div>
            </div>
            </div>
        </script>
        <script type="text/ng-template" id="two.tpl.html">
            <div role="tabpanel" class="tab-pane profile" id="profile">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".peso">
                            Pesos
                            </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                            </h4>
                        </div>
                    <div id="collapseOne" class="panel-collapse collapse in peso">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4 ">
                                    <div class="form-group">
                                         <label for="exampleInputPassword1">Peso unitário líquido (kg)</label>
                                         <input type="text" class="form-control col-sm-8 " ng-model="produto.pesoliquido" name="pesoLiquido"  placeholder="Peso unitário líquido (kg)">
                                    </div>
                                </div>
                                <div class="col-sm-4 ">
                                    <div class="form-group">
                                         <label for="exampleInputPassword1">Peso unitário bruto (kg)</label>
                                         <input type="text" class="form-control col-sm-8 " ng-model="produto.pesobruto" name="pesobruto"  placeholder="Peso unitário bruto (kg)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".cfop">
                            CFOP
                            </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in cfop">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6 ">
                                        <div class="form-group">
                                             <label for="exampleInputPassword1">CFOP padrão para NFe</label>
                                             <input type="text" class="form-control col-sm-8 " ng-model="produto.cFOPPadraoNFe" name="cFOPPadraoNFe"  placeholder="CFOP padrão para NFe">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".collapseFour">
                            ICMS
                            </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in collapseFour">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-5 ">
                                        <div class="form-group">
                                             <label for="exampleInputPassword1">ICMS - Situação Tributária</label>
                                             <select id="configTrib_NCST" ng-model="produto.icmsSitTributaria" name="configTrib_NCST" class="form-control">
                                                    <option value="00">00: Tributada integralmente</option>
                                                    <option value="10">10: Tributada com cobr. por subst. trib.</option>
                                                    <option value="20">20: Com redução de base de cálculo</option>
                                                    <option value="30">30: Isenta ou não trib com cobr por subst trib</option>
                                                    <option value="40">40: Isenta</option>
                                                    <option value="41">41: Não tributada</option>
                                                    <option value="50">50: Suspesão</option>
                                                    <option value="51">51: Diferimento</option>
                                                    <option value="60">60: ICMS cobrado anteriormente por subst trib</option>
                                                    <option value="70">70: Redução de Base Calc e cobr ICMS por subst trib</option>
                                                    <option value="90">90: Outros</option>
                                                    <option value="10Part">Partilha 10: Entre UF origem e destino ou definida na legislação com Subst Trib</option>
                                                    <option value="90Part">Partilha 90: Entre UF origem e destino ou definida na legislação - outros</option>
                                                    <option value="41ST">Repasse 41: ICMS ST retido em operações interestaduais com repasses do Subst Trib</option>
                                                    <option value="101">Simples Nacional: 101: Com permissão de crédito</option>
                                                    <option value="102">Simples Nacional: 102: Sem permissão de crédito</option>
                                                    <option value="103">Simples Nacional: 103: Isenção do ICMS para faixa de receita bruta</option>
                                                    <option value="201">Simples Nacional: 201: Com permissão de crédito, com cobr ICMS por Subst Trib</option>
                                                    <option value="202">Simples Nacional: 202: Sem permissão de crédito, com cobr ICMS por Subst Trib</option>
                                                    <option value="203">Simples Nacional: 203: Isenção ICMS p/ faixa de receita bruta e cobr do ICMS por ST</option>
                                                    <option value="300">Simples Nacional: 300: Imune</option>
                                                    <option value="400">Simples Nacional: 400: Não tributada</option>
                                                    <option value="500">Simples Nacional: 500: ICMS cobrado antes por subst trib ou antecipação</option>
                                                    <option value="900">Simples Nacional: 900: Outros</option>
                                                </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 ">
                                        <div class="form-group">
                                             <label for="exampleInputPassword1">ICMS - Origem</label>
                                             <select id="configTrib_Norig" ng-model="produto.iCMSOrigem"  name="configTrib_Norig" class="form-control">
                                                <option value="0">0 - Nacional, exceto as indicadas nos códigos de 3 a 5</option>
                                                <option value="1">1 - Estrangeira - Importação direta, exceto a indicada no código 6</option>
                                                <option value="2">2 - Estrangeira - Adquirida no mercado interno, exceto a indicada no código 7</option>
                                                <option value="3">3 - Nacional, mercadoria ou bem com Conteúdo de Importação superior a 40%</option>
                                                <option value="4">4 - Nacional, produção em conformidade com processos básicos que tratam as legisl. dos Ajustes</option>
                                                <option value="5">5 - Nacional, mercadoria ou bem com Conteúdo de Importação inferior ou igual a 40%</option>
                                                <option value="6">6 - Estrangeira - Importação direta, sem similar nacional, constante em lista da CAMEX</option>
                                                <option value="7">7 - Estrangeira - Adquirida mercado interno, sem similar nacional, constante em lista da CAMEX</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".collapseFour">
                            IPI
                            </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in collapseFour">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-5 ">
                                        <div class="form-group">
                                             <label for="exampleInputPassword1">IPI - Situação tributária</label>
                                             <select id="configTrib_OCST" ng-model="produto.iPISitTributaria" name="configTrib_OCST" class="form-control">
                                                <option value="-1">- Não usar -</option>
                                                <option value="00">00: Entrada com recuperação de crédito</option>
                                                <option value="01">01: Entrada tributada com alíquota zero</option>
                                                <option value="02">02: Entrada isenta</option>
                                                <option value="03">03: Entrada não-tributada</option>
                                                <option value="04">04: Entrada imune</option>
                                                <option value="05">05: Entrada com suspensão</option>
                                                <option value="49">49: Outras entradas</option>
                                                <option value="50">50: Saída tributada</option>
                                                <option value="51">51: Saída tributada com alíquota zero</option>
                                                <option value="52">52: Saída isenta</option>
                                                <option value="53">53: Saída não-tributada</option>
                                                <option value="54">54: Saída imune</option>
                                                <option value="55">55: Saída com suspensão</option>
                                                <option value="99">99: Outras saídas</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 ">
                                        <div class="form-group">
                                             <label for="exampleInputPassword1">Classe cigarros e bebidas</label>
                                             <input type="text" class="form-control col-sm-8 " ng-model="produto.classeCigarrosBebidas" name="classeCigarrosBebidas"  placeholder="Classe cigarros e bebidas">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 ">
                                        <div class="form-group">
                                             <label for="exampleInputPassword1">CNPJ Produtor</label>
                                             <input type="text" class="form-control col-sm-8 " ng-model="produto.cNPJProdutor" name="cNPJProdutor"  placeholder="CNPJ Produtor">
                                        </div>
                                    </div>
                                    <div class="col-sm-4 ">
                                        <div class="form-group">
                                             <label for="exampleInputPassword1">Cod. selo controle IPI</label>
                                             <input type="text" class="form-control col-sm-8 " ng-model="produto.codControleIPI" name="codControleIPI"  placeholder="Cod. selo controle IPI">
                                        </div>
                                    </div>
                                    <div class="col-sm-4 ">
                                        <div class="form-group">
                                             <label for="exampleInputPassword1">Qtd. selo IPI</label>
                                             <input type="text" class="form-control col-sm-8 " ng-model="produto.qtdSeloIPI" name="qtdSeloIPI"  placeholder="Qtd. selo IPI">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4 ">
                                        <div class="form-group">
                                             <label for="exampleInputPassword1">Cód. enquadramento</label>
                                             <input type="text" class="form-control col-sm-8 " ng-model="produto.codEnquadramento" name="codEnquadramento"  placeholder="999">
                                        </div>
                                    </div>
                                   <div class="col-sm-4 ">
                                    <div class="form-group">
                                         <label for="exampleInputPassword1">Tipo de cálculo</label>
                                         <select id="configTrib_OTipoCalc" ng-model="produto.tipoCalculo" name="configTrib_OTipoCalc" class="form-control disabled">
                                            <option value="1">Porcentagem</option>
                                            <option value="2">Em valor</option>
                                        </select>
                                    </div>
                                    </div>
                                    <div class="col-sm-4 ">
                                        <div class="form-group">
                                             <label for="exampleInputPassword1">Alíquota IPI</label>
                                             <input type="text" class="form-control col-sm-8 disabled" ng-model="produto.aliquotaIPI" name="aliquotaIPI"  placeholder="Alíquota IPI">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".collapseFour">
                            PIS
                            </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in collapseFour">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-8 ">
                                        <div class="form-group">
                                             <label for="exampleInputPassword1">PIS - Situação tributária</label>
                                             <select id="configTrib_QCST" ng-model="produto.pISSituaTributaria" name="configTrib_QCST" class="form-control ">
                                                <option value="01">01: Operação tributável (BC = Operação alíq. normal (cumul./não cumul.)</option>
                                                <option value="02">02: Operação tributável (BC = valor da operação (alíquota diferenciada)</option>
                                                <option value="03">03: Operação tributável (BC = quant. x alíq. por unidade de produto)</option>
                                                <option value="04">04: Operação tributável (tributação monofásica, alíquota zero)</option>
                                                <option value="06">06: Operação tributável (alíquota zero)</option>
                                                <option value="07">07: Operação isenta da contribuição</option>
                                                <option value="08">08: Operação sem incidência da contribuição</option>
                                                <option value="09">09: Operação com suspensão da contribuição</option>
                                                <option value="49">49: Outras Operações de Saída</option>
                                                <option value="50">50: Direito a Crédito. Vinculada Exclusivamente a Receita Tributada no Mercado Interno</option>
                                                <option value="51">51: Direito a Crédito. Vinculada Exclusivamente a Receita Não Tributada no Mercado Interno</option>
                                                <option value="52">52: Direito a Crédito. Vinculada Exclusivamente a Receita de Exportação</option>
                                                <option value="53">53: Direito a Crédito. Vinculada a Receitas Tributadas e Não-Tributadas no Mercado Interno</option>
                                                <option value="54">54: Direito a Crédito. Vinculada a Receitas Tributadas no Mercado Interno e de Exportação</option>
                                                <option value="55">55: Direito a Crédito. Vinculada a Receitas Não-Trib. no Mercado Interno e de Exportação</option>
                                                <option value="56">56: Direito a Crédito. Vinculada a Rec. Trib. e Não-Trib. Mercado Interno e Exportação</option>
                                                <option value="60">60: Créd. Presumido. Aquisição Vinc. Exclusivamente a Receita Tributada no Mercado Interno</option>
                                                <option value="61">61: Créd. Presumido. Aquisição Vinc. Exclusivamente a Rec. Não-Trib. no Mercado Interno</option>
                                                <option value="62">62: Créd. Presumido. Aquisição Vinc. Exclusivamente a Receita de Exportação</option>
                                                <option value="63">63: Créd. Presumido. Aquisição Vinc. a Rec. Trib. e Não-Trib. no Mercado Interno</option>
                                                <option value="64">64: Créd. Presumido. Aquisição Vinc. a Rec. Trib. no Mercado Interno e de Exportação</option>
                                                <option value="65">65: Créd. Presumido. Aquisição Vinc. a Rec. Não-Trib. Mercado Interno e Exportação</option>
                                                <option value="66">66: Créd. Presumido. Aquisição Vinc. a Rec. Trib. e Não-Trib. Mercado Interno e Exportação</option>
                                                <option value="67">67: Crédito Presumido - Outras Operações</option>
                                                <option value="70">70: Operação de Aquisição sem Direito a Crédito</option>
                                                <option value="71">71: Operação de Aquisição com Isenção</option>
                                                <option value="72">72: Operação de Aquisição com Suspensão</option>
                                                <option value="73">73: Operação de Aquisição a Alíquota Zero</option>
                                                <option value="74">74: Operação de Aquisição sem Incidência da Contribuição</option>
                                                <option value="75">75: Operação de Aquisição por Substituição Tributária</option>
                                                <option value="98">98: Outras Operações de Entrada</option>
                                                <option value="99">99: Outras operações</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 ">
                                        <div class="form-group">
                                             <label for="exampleInputPassword1">Valor unid. trib. PIS</label>
                                             <input type="text" class="form-control col-sm-8 " ng-model="produto.valorUnidtribPIS" name="valorUnidtribPIS"  placeholder="Valor unid. trib. PIS">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 ">
                                        <div class="form-group">
                                             <label for="exampleInputPassword1">Tipo de cálculo Subst. Trib.</label>
                                             <select id="configTrib_RTipoCalc" class="form-control" ng-model="produto.tipocalculoSubstTrib" name="tipocalculoSubstTrib" autocomplete="off">
                                                 <option value="0">- Não usar -</option>
                                                 <option value="1">Porcentagem</option>
                                                 <option value="2">Em valor</option>
                                             </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 ">
                                        <div class="form-group">
                                             <label for="exampleInputPassword1">Valor unid trib PIS ST</label>
                                             <input type="text" class="form-control " ng-model="produto.valorTribPISST" name="valorTribPISST"  placeholder="Valor unid trib PIS ST">
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".collapseFour">
                            COFINS
                            </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in collapseFour">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-8 ">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">COFINS - Situação Tributária</label>
                                            <select id="configTrib_SCST" ng-model="produto.cOFINSSituatributaria" class="form-control" name="cOFINSSituatributaria" autocomplete="off">
                                            <option value="01">01: Operação tributável (BC = Operação alíq. normal (cumul./não cumul.)</option>
                                            <option value="02">02: Operação tributável (BC = valor da operação (alíquota diferenciada)</option>
                                            <option value="03">03: Operação tributável (BC = quant. x alíq. por unidade de produto)</option>
                                            <option value="04">04: Operação tributável (tributação monofásica, alíquota zero)</option>
                                            <option value="06">06: Operação tributável (alíquota zero)</option>
                                            <option value="07">07: Operação isenta da contribuição</option>
                                            <option value="08">08: Operação sem incidência da contribuição</option>
                                            <option value="09">09: Operação com suspensão da contribuição</option>
                                            <option value="49">49: Outras Operações de Saída</option>
                                            <option value="50">50: Direito a Crédito. Vinculada Exclusivamente a Receita Tributada no Mercado Interno</option>
                                            <option value="51">51: Direito a Crédito. Vinculada Exclusivamente a Receita Não Tributada no Mercado Interno</option>
                                            <option value="52">52: Direito a Crédito. Vinculada Exclusivamente a Receita de Exportação</option>
                                            <option value="53">53: Direito a Crédito. Vinculada a Receitas Tributadas e Não-Tributadas no Mercado Interno</option>
                                            <option value="54">54: Direito a Crédito. Vinculada a Receitas Tributadas no Mercado Interno e de Exportação</option>
                                            <option value="55">55: Direito a Crédito. Vinculada a Receitas Não-Trib. no Mercado Interno e de Exportação</option>
                                            <option value="56">56: Direito a Crédito. Vinculada a Rec. Trib. e Não-Trib. Mercado Interno e Exportação</option>
                                            <option value="60">60: Créd. Presumido. Aquisição Vinc. Exclusivamente a Receita Tributada no Mercado Interno</option>
                                            <option value="61">61: Créd. Presumido. Aquisição Vinc. Exclusivamente a Rec. Não-Trib. no Mercado Interno</option>
                                            <option value="62">62: Créd. Presumido. Aquisição Vinc. Exclusivamente a Receita de Exportação</option>
                                            <option value="63">63: Créd. Presumido. Aquisição Vinc. a Rec. Trib. e Não-Trib. no Mercado Interno</option>
                                            <option value="64">64: Créd. Presumido. Aquisição Vinc. a Rec. Trib. no Mercado Interno e de Exportação</option>
                                            <option value="65">65: Créd. Presumido. Aquisição Vinc. a Rec. Não-Trib. Mercado Interno e Exportação</option>
                                            <option value="66">66: Créd. Presumido. Aquisição Vinc. a Rec. Trib. e Não-Trib. Mercado Interno e Exportação</option>
                                            <option value="67">67: Crédito Presumido - Outras Operações</option>
                                            <option value="70">70: Operação de Aquisição sem Direito a Crédito</option>
                                            <option value="71">71: Operação de Aquisição com Isenção</option>
                                            <option value="72">72: Operação de Aquisição com Suspensão</option>
                                            <option value="73">73: Operação de Aquisição a Alíquota Zero</option>
                                            <option value="74">74: Operação de Aquisição sem Incidência da Contribuição</option>
                                            <option value="75">75: Operação de Aquisição por Substituição Tributária</option>
                                            <option value="98">98: Outras Operações de Entrada</option>
                                            <option value="99">99: Outras operações</option>
                                        </select>

                                        </div>
                                    </div>
                                    <div class="col-sm-3 ">
                                        <div class="form-group">
                                             <label for="exampleInputPassword1">Valor unid trib COFINS</label>
                                             <input type="text" class="form-control col-sm-8 " ng-model="produto.valorTribCOFINS" name="valorTribCOFINS"  placeholder="Valor unid trib COFINS">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 ">
                                        <div class="form-group">
                                             <label for="exampleInputPassword1">Tipo de cálculo Subst. Trib.</label>
                                             <select id="configTrib_RTipoCalc" ng-model="produto.tipoCalculoSubstTrib" class="form-control" name="tipoCalculoSubstTrib" autocomplete="off">
                                                 <option value="0">- Não usar -</option>
                                                 <option value="1">Porcentagem</option>
                                                 <option value="2">Em valor</option>
                                             </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 ">
                                        <div class="form-group">
                                             <label for="exampleInputPassword1">Alíquota COFINS ST</label>
                                             <input type="text" class="form-control col-sm-8 " ng-model="produto.aliquotaCOFINSST" name="aliquotaCOFINSST"  placeholder="Alíquota COFINS ST">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

        </script>
        <script type="text/ng-template" id="three.tpl.html">
            <div role="tabpanel" class="tab-pane messages" id="messages">
                <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".estoque">
                        ESTOQUE
                        </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in estoque">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-3 ">
                                    <div class="form-group">
                                         <label for="exampleInputPassword1">Estoque Minimo</label>
                                         <input type="text" class="form-control col-sm-8 " ng-model="produto.estMinimo" name="estMinimo"  placeholder="Estoque Minimo">
                                    </div>
                                </div>
                                <div class="col-sm-3 ">
                                    <div class="form-group">
                                         <label for="exampleInputPassword1">Estoque Atual</label>
                                         <input type="text" class="form-control col-sm-8 " ng-model="produto.estAtual" name="estAtual"  placeholder="Estoque Atual">
                                    </div>
                                </div>
                                <div class="col-sm-3 ">
                                    <div class="form-group">
                                         <label for="exampleInputPassword1">Estoque Maximo</label>
                                         <input type="text" class="form-control col-sm-8 " ng-model="produto.estMaximo" name="estMaximo"  placeholder="Estoque Maximo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div role="tabpanel" class="tab-pane messages" id="messages">
                <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".preco">
                        Preços
                        </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in preco">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-3 ">
                                    <div class="form-group">
                                         <label for="exampleInputPassword1">Margem de lucro</label>
                                         <input type="text" class="form-control col-sm-8 " ng-model="produto.margemLucro" name="margemLucro"  placeholder="Margem de lucro">
                                    </div>
                                </div>
                                <div class="col-sm-3 ">
                                    <div class="form-group">
                                         <label for="exampleInputPassword1">Preço de custo</label>
                                         <input type="text" class="form-control col-sm-8 " ng-model="produto.precoCusto" name="precoCusto"  placeholder="Preço de custo">
                                    </div>
                                </div>
                                <div class="col-sm-3 ">
                                    <div class="form-group">
                                         <label for="exampleInputPassword1">Preço de venda</label>
                                         <input type="text" class="form-control col-sm-8 " ng-model="produto.precoVenda" name="precoVenda"  placeholder="modoUso">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
            </div>
            </div>
        </script>
        <script type="text/ng-template" id="imagens">
            <div role="tabpanel" class="tab-pane imagens" id="imagenss">Imagens</div>
        </script>
        <script type="text/ng-template" id="historico">
            <div role="tabpanel" class="tab-pane settings" id="settings">Historico</div>
        </script>
        <div class="btn-group btn-group-vertical">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button type="submit" class="btn btn-success" id="submit" value="Submit" ng-click="submitt()">Inserir</button>
                    <input type="button" id="submit" value="Submit" ng-click="submitt()" />
                    <button type="button" class="btn btn-warning" ng-click="onClickTabb(tab)">Alterar</button>
                    <button type="button" class="btn btn-danger">Excluir</button>
                </div>
            </div>
        </div>
    </form>
</div>