<head>
        <meta charset="utf-8">
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>WebDaptive - Angular</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <!-- Place favicon.ico in the root directory -->
        <!-- Needs images, font...  -->
        <link rel="stylesheet" href="../thirdparty/font-awesome/css/font-awesome.min.css">
        <!-- end Needs images -->
        <link rel="stylesheet" href="../thirdparty/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../thirdparty/angular-toastr/angular-toastr.min.css"></link>
        <link rel="stylesheet" href="../thirdparty/angular-ag/ag-grid.css"></link>
        <link rel="stylesheet" href="../thirdparty/angular-ag/theme-fresh.css"></link>
        <link rel="stylesheet" href="../thirdparty/angular-chartjs/angular-chart.min.css">
        <link rel="stylesheet" href="../thirdparty/angular/angular-csp.css">
        <link rel="stylesheet" href="../styles/wd_main.css">

    </head>
<div class="page page-dashboard" data-ng-controller="DashboardController">

    <div class="row">
        <div class="col-lg-6">
            <div class="panel">
                <div class="panel-body" data-ng-controller="FlotChartController">
                    <div data-flot-chart
                         data-data="donutChart2.data"
                         data-options="donutChart2.options"
                         style="width: 100%; height: 230px;"
                         ></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- stats -->
            <div class="row">
                <div class="col-xsm-6">
                    <div class="panel mini-box">
                        <span class="box-icon rounded bg-success">
                            <i class="fa fa-rocket"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">36 <span class="size-h4">%</span></p>
                            <p class="text-muted"><span data-i18n="Growth"></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-xsm-6">
                    <div class="panel mini-box">
                        <span class="box-icon rounded bg-info">
                            <i class="fa fa-users"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">352</p>
                            <p class="text-muted"><span data-i18n="New users"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xsm-6">
                    <div class="panel mini-box">
                        <span class="box-icon rounded bg-warning">
                            <i class="fa fa-dollar"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">4,120</p>
                            <p class="text-muted"><span data-i18n="Profit"></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-xsm-6">
                    <div class="panel mini-box">
                        <span class="box-icon rounded bg-danger">
                            <i class="fa fa-shopping-cart"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">313</p>
                            <p class="text-muted"><span data-i18n="Sales"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end stats -->
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Realtime Chart</h3>
        </div>
        <div class="panel-body">
            <div data-flot-chart-realtime data-type="realtime" style="width: 100%; height: 300px;"></div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Table - General</strong></div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Project</th>
                    <th>Status</th>
                    <th>Manager</th>
                    <th>Progress</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><span class="color-success"><i class="fa fa-level-up"></i></span> TWLT</td>
                    <td><span class="label label-info">Pending</span></td>
                    <td>Amery Lee</td>
                    <td><uib-progressbar class="progressbar-xs no-margin" value="55"></uib-progressbar>
                </tr>
                <tr>
                    <td>2</td>
                    <td><span class="color-success"><i class="fa fa-level-up"></i></span> A16Z</td>
                    <td><span class="label label-primary">Due</span></td>
                    <td>Romayne Carlyn</td>
                    <td><uib-progressbar class="progressbar-xs no-margin" value="34" type="success"></uib-progressbar></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><span class="color-warning"><i class="fa fa-level-down"></i></span> DARK</td>
                    <td><span class="label label-success">Due</span></td>
                    <td>Marybeth Joanna</td>
                    <td><uib-progressbar class="progressbar-xs no-margin" value="68" type="info"></uib-progressbar></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><span class="color-info"><i class="fa fa-level-up"></i></span> Q300</td>
                    <td><span class="label label-danger">Blocked</span></td>
                    <td>Jonah Benny</td>
                    <td><uib-progressbar class="progressbar-xs no-margin" value="52" type="warning"></uib-progressbar></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><span class="color-danger"><i class="fa fa-level-down"></i></span> RVNG</td>
                    <td><span class="label label-warning">Suspended</span></td>
                    <td>Daly Royle</td>
                    <td><uib-progressbar class="progressbar-xs no-margin" value="77" type="danger"></uib-progressbar></td></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><span class="color-info"><i class="fa fa-level-down"></i></span> FDSA</td>
                    <td><span class="label label-info">Suspended</span></td>
                    <td>Jane Swift</td>
                    <td><uib-progressbar class="progressbar-xs no-margin" value="55" type="success"></uib-progressbar></td></td>
                </tr>
            </tbody>
        </table>
    </div>
	<div data-ui-footer></div>
</div>
<script>
    $( document ).ready(function() {
        $('#dashboard-nav').show();
        $('#dashboard-header').show();
        $('#teste').show();
        $('.teste').hide();

    });
</script>