
	<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="contacts2-13" style="background-color: rgb(60, 60, 60);">

	    <div class="mbr-section__container container">
	        <div class="mbr-contacts mbr-contacts--wysiwyg row" style="padding-top: 45px; padding-bottom: 45px;">
	            <div class="col-sm-4">
	                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--no-bg">
	                    <div class="mbr-figure__map mbr-figure__map--short mbr-google-map">
	                        <p class="mbr-google-map__marker" data-coordinates="{{cc.site.empresa.enderecos[0].latitude}},{{cc.site.empresa.enderecos[0].longitude}}"></p>
	                    </div>
	                </figure>
	            </div>
	            <div class="col-sm-4">
	                <div class="row">
	                    <div class="col-sm-5 col-sm-offset-1">
	                        <p class="mbr-contacts__text"><strong>Endereço </strong><br>
	                        	<div ng-repeat="endereco  in cc.site.empresa.enderecos">
									{{endereco.numero}} {{endereco.logradouro}}<br>
									{{endereco.cidade}}, {{endereco.cep}}<br><br>
								</div>
									<strong>Contatos</strong><br>
									<div ng-repeat="email  in cc.site.empresa.emails">
										Email: {{email.email}}<br>
									</div>
									<div ng-repeat="telefone  in cc.site.empresa.telefones">
										Telefone: ({{telefone.ddd}})  {{telefone.numero}}<br>
									</div>

								</div>
	                    </div>
	                </div>
	                    <div class="col-sm-4">

	                <form action="https://mobirise.com/" method="post">


	                    <div class="form-group">
	                        <input type="email" class="form-control input-sm input-inverse" name="email" required="" placeholder="Email*">
	                    </div>

	                    <div class="form-group">
	                        <input type="email" class="form-control input-sm input-inverse" name="telefone" required="" placeholder="Telefone">
	                    </div>

	                    <div class="form-group">
	                        <textarea class="form-control input-sm input-inverse" name="message" rows="4" placeholder="Menssagem"></textarea>
	                    </div>
	                    <div class="mbr-buttons mbr-buttons--right btn-inverse"><button type="submit" class="mbr-buttons__btn btn btn-danger">Enviar</button></div>
	                </form>

	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
 	<script src="http://maps.googleapis.com/maps/api/js?v=3&libraries=visualization"></script>
  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="assets/smooth-scroll/SmoothScroll.js"></script>
  <script src="assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js"></script>
  <!--[if lte IE 9]>
    <script src="assets/jquery-placeholder/jquery.placeholder.min.js"></script>
  <![endif]-->
  <script src="assets/mobirise/js/script.js"></script>