<div class="page" data-ng-controller="EChartsController as ec" >
    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Base Area</div>
                <div class="panel-body">
                    <div data-echarts data-options="ec.line3.options" style="height: 350px;"></div>
                </div>
            </div>
            
        </div>
        <div class="col-md-6">

            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Stacked Bar</div>
                <div class="panel-body">
                    <div data-echarts data-options="ec.bar4.options" style="height: 350px;"></div>
                </div>
            </div>

        </div>
    </div>
	
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Basic Bubble</div>
                <div class="panel-body">
                    <div data-echarts data-options="ec.scatter2.options" style="height: 350px;"></div>
                </div>
            </div>

        </div>
    </div>
	
    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Basic Pie</div>
                <div class="panel-body">
                    <div data-echarts data-options="ec.pie1.options" style="height: 350px;"></div>
                </div>
            </div>
            
        </div>
        <div class="col-md-6">

            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Basic Chord</div>
                <div class="panel-body">
                    <div data-echarts data-options="ec.chord1.options" style="height: 350px;"></div>
                </div>
            </div>

        </div>
    </div>	
	
	<div data-ui-footer></div>	
</div>