<!DOCTYPE html>
<html>
<head>
    <title>FormValidation demo</title>

    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="../dist/css/formValidation.css"/>

    <script type="text/javascript" src="../vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../dist/js/formValidation.js"></script>
    <script type="text/javascript" src="../dist/js/framework/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <html>
<head>
<title>Minha pagina</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="../dist/css/formValidation.css"/>

    <script type="text/javascript" src="../vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../dist/js/formValidation.js"></script>
    <script type="text/javascript" src="../dist/js/framework/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href=".home" aria-controls="home" role="tab" data-toggle="tab">Produto</a></li>
        <li role="presentation"><a href=".profile" aria-controls="profile" role="tab" data-toggle="tab">Dados Tributarios</a></li>
        <li role="presentation"><a href=".messages" aria-controls="messages" role="tab" data-toggle="tab">Preço/Estoque</a></li>
        <li role="presentation"><a href=".imagens" aria-controls="imagens" role="tab" data-toggle="tab">Imagens</a></li>
        <li role="presentation"><a href=".settings" aria-controls="settings" role="tab" data-toggle="tab">Historico</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active home" id="home">

    <div class="row">
        <form id="installationForm" class="form-horizontal">
    <div class="row">
         <div class="hide">
            <div class="form-group">
                 <label for="exampleInputPassword1"></label>
                 <input type="text" class="form-control col-sm-8 hide" ng-model="empresa.id" name="id"  placeholder="id">
            </div>
        </div>
        <div class="col-sm-8 ">
            <div class="form-group">
                 <label for="exampleInputPassword1">Produto</label>
                 <input type="text" class="form-control " ng-model="empresa.nome" name="produto"  placeholder="produto">
            </div>
        </div>
         <div class="col-sm-4 ">
            <div class="form-group">
                 <label for="exampleInputPassword1">Código personalizado</label>
                 <input type="text" class="form-control " ng-model="empresa.nome" name="codigo"  placeholder="codigo">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 ">
            <div class="form-group">
                 <label for="exampleInputPassword1">NCM</label>
                 <input type="text" class="form-control  " ng-model="empresa.numFunc" name="ncm"  placeholder="ncm">
            </div>
        </div>
         <div class="col-sm-3 ">
            <div class="form-group">
                 <label for="exampleInputPassword1">Código de barras (EAN):</label>
                 <input type="text" class="form-control  " ng-model="empresa.numFunc" name="cdBarras"  placeholder="cdBarras">
            </div>
        </div>
        <div class="col-sm-2 ">
            <div class="form-group">
                 <label for="exampleInputPassword1">Data Cadastro</label>
                 <input type="text" class="form-control  " ng-model="empresa.numFunc" name="dataCreate"  placeholder="dataCreate">
            </div>
        </div>
        <div class="col-sm-2 ">
            <div class="form-group">
                 <label for="exampleInputPassword1">Exceção tab IPI</label>
                 <input type="text" class="form-control  " ng-model="empresa.numFunc" name="dataCreate"  placeholder="dataCreate">
            </div>
        </div>
        <div class="col-sm-2 ">
            <div class="form-group">
                 <label for="exampleInputPassword1">CEST</label>
                 <input type="text" class="form-control col-sm-8 " ng-model="empresa.numFunc" name="dataCreate"  placeholder="dataCreate">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 ">
            <div class="form-group">
                 <label for="exampleInputPassword1">Inform. adicionais para a NFe</label>
                 <input type="text" class="form-control col-sm-8 " ng-model="empresa.numFunc" name="aplicacao"  placeholder="aplicacao">
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="form-group">
                 <label for="exampleInputPassword1">Anotações internas</label>
                 <input type="text" class="form-control col-sm-8 " ng-model="empresa.numFunc" name="fracao"  placeholder="fracao">
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-sm-3 ">
        <div class="form-group">
             <label for="exampleInputPassword1">Unidade tributada</label>
             <select id="atividade1" name="atividade1" class="form-control">
                <option> teste 001</option>
                <option> teste 002</option>
                <option> teste 003</option>
                <option> teste 004</option>
                <option> teste 005</option>
                <option style="background-color : #F1F4F9"><a>Adicionar Novo </a><i class="glyphicon glyphicon-plus"></i></option>
            </select>
        </div>
    </div>
    <div class="col-sm-3 ">
        <div class="form-group">
             <label for="exampleInputPassword1">Grupo</label>
             <select id="atividade1" name="atividade1" class="form-control">
                <option> teste 001</option>
                <option> teste 002</option>
                <option> teste 003</option>
                <option> teste 004</option>
                <option> teste 005</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3 ">
        <div class="form-group">
             <label for="exampleInputPassword1">Sub-Grupo</label>
             <select id="atividade1" name="atividade1" class="form-control">
                <option> teste 001</option>
                <option> teste 002</option>
                <option> teste 003</option>
                <option> teste 004</option>
                <option> teste 005</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3 ">
        <div class="form-group">
             <label for="exampleInputPassword1">Marca</label>
             <select id="atividade1" name="atividade1" class="form-control">
                <option> teste 001</option>
                <option> teste 002</option>
                <option> teste 003</option>
                <option> teste 004</option>
                <option> teste 005</option>
            </select>
        </div>
    </div>

</div>
<div class="form-group">
    <div class="col-lg-offset-3 col-lg-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>
    </div>
    </div>
    <div role="tabpanel" class="tab-pane profile" id="profile">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".collapseFour">
                    Pesos
                    </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                    </h4>
                </div>
            <div id="collapseOne" class="panel-collapse collapse in collapseFour">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4 ">
                            <div class="form-group">
                                 <label for="exampleInputPassword1">Peso unitário líquido (kg)</label>
                                 <input type="text" class="form-control col-sm-8 " ng-model="empresa.numFunc" name="pesoBruto"  placeholder="pesoBruto">
                            </div>
                        </div>
                        <div class="col-sm-4 ">
                            <div class="form-group">
                                 <label for="exampleInputPassword1">Peso unitário bruto (kg)</label>
                                 <input type="text" class="form-control col-sm-8 " ng-model="empresa.numFunc" name="pesoLiquido"  placeholder="pesoLiquido">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             </div>
        </div>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".collapseFour">
                    CFOP
                    </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in collapseFour">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6 ">
                                <div class="form-group">
                                     <label for="exampleInputPassword1">CFOP padrão para NFe</label>
                                     <input type="text" class="form-control col-sm-8 " ng-model="empresa.numFunc" name="modoUso"  placeholder="modoUso">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".collapseFour">
                    ICMS
                    </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in collapseFour">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5 ">
                                <div class="form-group">
                                     <label for="exampleInputPassword1">ICMS - Situação Tributária</label>
                                     <select id="configTrib_NCST" name="configTrib_NCST" class="form-control">
                                            <option value="00">00: Tributada integralmente</option>
                                            <option value="10">10: Tributada com cobr. por subst. trib.</option>
                                            <option value="20">20: Com redução de base de cálculo</option>
                                            <option value="30">30: Isenta ou não trib com cobr por subst trib</option>
                                            <option value="40">40: Isenta</option>
                                            <option value="41">41: Não tributada</option>
                                            <option value="50">50: Suspesão</option>
                                            <option value="51">51: Diferimento</option>
                                            <option value="60">60: ICMS cobrado anteriormente por subst trib</option>
                                            <option value="70">70: Redução de Base Calc e cobr ICMS por subst trib</option>
                                            <option value="90">90: Outros</option>
                                            <option value="10Part">Partilha 10: Entre UF origem e destino ou definida na legislação com Subst Trib</option>
                                            <option value="90Part">Partilha 90: Entre UF origem e destino ou definida na legislação - outros</option>
                                            <option value="41ST">Repasse 41: ICMS ST retido em operações interestaduais com repasses do Subst Trib</option>
                                            <option value="101">Simples Nacional: 101: Com permissão de crédito</option>
                                            <option value="102">Simples Nacional: 102: Sem permissão de crédito</option>
                                            <option value="103">Simples Nacional: 103: Isenção do ICMS para faixa de receita bruta</option>
                                            <option value="201">Simples Nacional: 201: Com permissão de crédito, com cobr ICMS por Subst Trib</option>
                                            <option value="202">Simples Nacional: 202: Sem permissão de crédito, com cobr ICMS por Subst Trib</option>
                                            <option value="203">Simples Nacional: 203: Isenção ICMS p/ faixa de receita bruta e cobr do ICMS por ST</option>
                                            <option value="300">Simples Nacional: 300: Imune</option>
                                            <option value="400">Simples Nacional: 400: Não tributada</option>
                                            <option value="500">Simples Nacional: 500: ICMS cobrado antes por subst trib ou antecipação</option>
                                            <option value="900">Simples Nacional: 900: Outros</option>
                                        </select>
                                </div>
                            </div>
                            <div class="col-sm-5 ">
                                <div class="form-group">
                                     <label for="exampleInputPassword1">ICMS - Origem</label>
                                     <select id="configTrib_Norig" name="configTrib_Norig" class="form-control">
                                        <option value="0">0 - Nacional, exceto as indicadas nos códigos de 3 a 5</option>
                                        <option value="1">1 - Estrangeira - Importação direta, exceto a indicada no código 6</option>
                                        <option value="2">2 - Estrangeira - Adquirida no mercado interno, exceto a indicada no código 7</option>
                                        <option value="3">3 - Nacional, mercadoria ou bem com Conteúdo de Importação superior a 40%</option>
                                        <option value="4">4 - Nacional, produção em conformidade com processos básicos que tratam as legisl. dos Ajustes</option>
                                        <option value="5">5 - Nacional, mercadoria ou bem com Conteúdo de Importação inferior ou igual a 40%</option>
                                        <option value="6">6 - Estrangeira - Importação direta, sem similar nacional, constante em lista da CAMEX</option>
                                        <option value="7">7 - Estrangeira - Adquirida mercado interno, sem similar nacional, constante em lista da CAMEX</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".collapseFour">
                    IPI
                    </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in collapseFour">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5 ">
                                <div class="form-group">
                                     <label for="exampleInputPassword1">IPI - Situação tributária</label>
                                     <select id="configTrib_OCST" name="configTrib_OCST" class="form-control">
                                        <option value="-1">- Não usar -</option>
                                        <option value="00">00: Entrada com recuperação de crédito</option>
                                        <option value="01">01: Entrada tributada com alíquota zero</option>
                                        <option value="02">02: Entrada isenta</option>
                                        <option value="03">03: Entrada não-tributada</option>
                                        <option value="04">04: Entrada imune</option>
                                        <option value="05">05: Entrada com suspensão</option>
                                        <option value="49">49: Outras entradas</option>
                                        <option value="50">50: Saída tributada</option>
                                        <option value="51">51: Saída tributada com alíquota zero</option>
                                        <option value="52">52: Saída isenta</option>
                                        <option value="53">53: Saída não-tributada</option>
                                        <option value="54">54: Saída imune</option>
                                        <option value="55">55: Saída com suspensão</option>
                                        <option value="99">99: Outras saídas</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-5 ">
                                <div class="form-group">
                                     <label for="exampleInputPassword1">Classe cigarros e bebidas</label>
                                     <input type="text" class="form-control col-sm-8 " ng-model="empresa.numFunc" name="modoUso"  placeholder="modoUso">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 ">
                                <div class="form-group">
                                     <label for="exampleInputPassword1">CNPJ Produtor</label>
                                     <input type="text" class="form-control col-sm-8 " ng-model="empresa.numFunc" name="modoUso"  placeholder="modoUso">
                                </div>
                            </div>
                            <div class="col-sm-4 ">
                                <div class="form-group">
                                     <label for="exampleInputPassword1">Cod. selo controle IPI</label>
                                     <input type="text" class="form-control col-sm-8 " ng-model="empresa.numFunc" name="modoUso"  placeholder="modoUso">
                                </div>
                            </div>
                            <div class="col-sm-4 ">
                                <div class="form-group">
                                     <label for="exampleInputPassword1">Qtd. selo IPI</label>
                                     <input type="text" class="form-control col-sm-8 " ng-model="empresa.numFunc" name="modoUso"  placeholder="modoUso">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 ">
                                <div class="form-group">
                                     <label for="exampleInputPassword1">Cód. enquadramento</label>
                                     <input type="text" class="form-control col-sm-8 " ng-model="empresa.numFunc" name="modoUso"  placeholder="modoUso">
                                </div>
                            </div>
                           <div class="col-sm-4 ">
                            <div class="form-group">
                                 <label for="exampleInputPassword1">Tipo de cálculo</label>
                                 <select id="configTrib_OTipoCalc" name="configTrib_OTipoCalc" class="form-control disabled">
                                    <option value="1">Porcentagem</option>
                                    <option value="2">Em valor</option>
                                </select>
                            </div>
                            </div>
                            <div class="col-sm-4 ">
                                <div class="form-group">
                                     <label for="exampleInputPassword1">Alíquota IPI</label>
                                     <input type="text" class="form-control col-sm-8 disabled" ng-model="empresa.numFunc" name="modoUso"  placeholder="modoUso">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".collapseFour">
                    PIS
                    </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in collapseFour">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-8 ">
                                <div class="form-group">
                                     <label for="exampleInputPassword1">PIS - Situação tributária</label>
                                     <select id="configTrib_QCST" name="configTrib_QCST" class="form-control ">
                                        <option value="01">01: Operação tributável (BC = Operação alíq. normal (cumul./não cumul.)</option>
                                        <option value="02">02: Operação tributável (BC = valor da operação (alíquota diferenciada)</option>
                                        <option value="03">03: Operação tributável (BC = quant. x alíq. por unidade de produto)</option>
                                        <option value="04">04: Operação tributável (tributação monofásica, alíquota zero)</option>
                                        <option value="06">06: Operação tributável (alíquota zero)</option>
                                        <option value="07">07: Operação isenta da contribuição</option>
                                        <option value="08">08: Operação sem incidência da contribuição</option>
                                        <option value="09">09: Operação com suspensão da contribuição</option>
                                        <option value="49">49: Outras Operações de Saída</option>
                                        <option value="50">50: Direito a Crédito. Vinculada Exclusivamente a Receita Tributada no Mercado Interno</option>
                                        <option value="51">51: Direito a Crédito. Vinculada Exclusivamente a Receita Não Tributada no Mercado Interno</option>
                                        <option value="52">52: Direito a Crédito. Vinculada Exclusivamente a Receita de Exportação</option>
                                        <option value="53">53: Direito a Crédito. Vinculada a Receitas Tributadas e Não-Tributadas no Mercado Interno</option>
                                        <option value="54">54: Direito a Crédito. Vinculada a Receitas Tributadas no Mercado Interno e de Exportação</option>
                                        <option value="55">55: Direito a Crédito. Vinculada a Receitas Não-Trib. no Mercado Interno e de Exportação</option>
                                        <option value="56">56: Direito a Crédito. Vinculada a Rec. Trib. e Não-Trib. Mercado Interno e Exportação</option>
                                        <option value="60">60: Créd. Presumido. Aquisição Vinc. Exclusivamente a Receita Tributada no Mercado Interno</option>
                                        <option value="61">61: Créd. Presumido. Aquisição Vinc. Exclusivamente a Rec. Não-Trib. no Mercado Interno</option>
                                        <option value="62">62: Créd. Presumido. Aquisição Vinc. Exclusivamente a Receita de Exportação</option>
                                        <option value="63">63: Créd. Presumido. Aquisição Vinc. a Rec. Trib. e Não-Trib. no Mercado Interno</option>
                                        <option value="64">64: Créd. Presumido. Aquisição Vinc. a Rec. Trib. no Mercado Interno e de Exportação</option>
                                        <option value="65">65: Créd. Presumido. Aquisição Vinc. a Rec. Não-Trib. Mercado Interno e Exportação</option>
                                        <option value="66">66: Créd. Presumido. Aquisição Vinc. a Rec. Trib. e Não-Trib. Mercado Interno e Exportação</option>
                                        <option value="67">67: Crédito Presumido - Outras Operações</option>
                                        <option value="70">70: Operação de Aquisição sem Direito a Crédito</option>
                                        <option value="71">71: Operação de Aquisição com Isenção</option>
                                        <option value="72">72: Operação de Aquisição com Suspensão</option>
                                        <option value="73">73: Operação de Aquisição a Alíquota Zero</option>
                                        <option value="74">74: Operação de Aquisição sem Incidência da Contribuição</option>
                                        <option value="75">75: Operação de Aquisição por Substituição Tributária</option>
                                        <option value="98">98: Outras Operações de Entrada</option>
                                        <option value="99">99: Outras operações</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3 ">
                                <div class="form-group">
                                     <label for="exampleInputPassword1">Valor unid. trib. PIS</label>
                                     <input type="text" class="form-control col-sm-8 " ng-model="empresa.numFunc" name="modoUso"  placeholder="modoUso">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 ">
                                <div class="form-group">
                                     <label for="exampleInputPassword1">Tipo de cálculo Subst. Trib.</label>

                                     <select id="configTrib_RTipoCalc" class="form-control" name="configTrib_RTipoCalc" autocomplete="off">
                                         <option value="0">- Não usar -</option>
                                         <option value="1">Porcentagem</option>
                                         <option value="2">Em valor</option>
                                     </select>
                                </div>
                            </div>
                            <div class="col-sm-3 ">
                                <div class="form-group">
                                     <label for="exampleInputPassword1">Valor unid trib PIS ST</label>
                                     <input type="text" class="form-control " ng-model="empresa.numFunc" name="modoUso"  placeholder="modoUso">
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".collapseFour">
                    COFINS
                    </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in collapseFour">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-8 ">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">COFINS - Situação Tributária</label>
                                    <select id="configTrib_SCST" class="form-control" name="configTrib_SCST" autocomplete="off">
                                    <option value="01">01: Operação tributável (BC = Operação alíq. normal (cumul./não cumul.)</option>
                                    <option value="02">02: Operação tributável (BC = valor da operação (alíquota diferenciada)</option>
                                    <option value="03">03: Operação tributável (BC = quant. x alíq. por unidade de produto)</option>
                                    <option value="04">04: Operação tributável (tributação monofásica, alíquota zero)</option>
                                    <option value="06">06: Operação tributável (alíquota zero)</option>
                                    <option value="07">07: Operação isenta da contribuição</option>
                                    <option value="08">08: Operação sem incidência da contribuição</option>
                                    <option value="09">09: Operação com suspensão da contribuição</option>
                                    <option value="49">49: Outras Operações de Saída</option>
                                    <option value="50">50: Direito a Crédito. Vinculada Exclusivamente a Receita Tributada no Mercado Interno</option>
                                    <option value="51">51: Direito a Crédito. Vinculada Exclusivamente a Receita Não Tributada no Mercado Interno</option>
                                    <option value="52">52: Direito a Crédito. Vinculada Exclusivamente a Receita de Exportação</option>
                                    <option value="53">53: Direito a Crédito. Vinculada a Receitas Tributadas e Não-Tributadas no Mercado Interno</option>
                                    <option value="54">54: Direito a Crédito. Vinculada a Receitas Tributadas no Mercado Interno e de Exportação</option>
                                    <option value="55">55: Direito a Crédito. Vinculada a Receitas Não-Trib. no Mercado Interno e de Exportação</option>
                                    <option value="56">56: Direito a Crédito. Vinculada a Rec. Trib. e Não-Trib. Mercado Interno e Exportação</option>
                                    <option value="60">60: Créd. Presumido. Aquisição Vinc. Exclusivamente a Receita Tributada no Mercado Interno</option>
                                    <option value="61">61: Créd. Presumido. Aquisição Vinc. Exclusivamente a Rec. Não-Trib. no Mercado Interno</option>
                                    <option value="62">62: Créd. Presumido. Aquisição Vinc. Exclusivamente a Receita de Exportação</option>
                                    <option value="63">63: Créd. Presumido. Aquisição Vinc. a Rec. Trib. e Não-Trib. no Mercado Interno</option>
                                    <option value="64">64: Créd. Presumido. Aquisição Vinc. a Rec. Trib. no Mercado Interno e de Exportação</option>
                                    <option value="65">65: Créd. Presumido. Aquisição Vinc. a Rec. Não-Trib. Mercado Interno e Exportação</option>
                                    <option value="66">66: Créd. Presumido. Aquisição Vinc. a Rec. Trib. e Não-Trib. Mercado Interno e Exportação</option>
                                    <option value="67">67: Crédito Presumido - Outras Operações</option>
                                    <option value="70">70: Operação de Aquisição sem Direito a Crédito</option>
                                    <option value="71">71: Operação de Aquisição com Isenção</option>
                                    <option value="72">72: Operação de Aquisição com Suspensão</option>
                                    <option value="73">73: Operação de Aquisição a Alíquota Zero</option>
                                    <option value="74">74: Operação de Aquisição sem Incidência da Contribuição</option>
                                    <option value="75">75: Operação de Aquisição por Substituição Tributária</option>
                                    <option value="98">98: Outras Operações de Entrada</option>
                                    <option value="99">99: Outras operações</option>
                                </select>

                                </div>
                            </div>
                            <div class="col-sm-3 ">
                                <div class="form-group">
                                     <label for="exampleInputPassword1">Valor unid trib COFINS</label>
                                     <input type="text" class="form-control col-sm-8 " ng-model="empresa.numFunc" name="modoUso"  placeholder="modoUso">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 ">
                                <div class="form-group">
                                     <label for="exampleInputPassword1">Tipo de cálculo Subst. Trib.</label>
                                     <select id="configTrib_RTipoCalc" class="form-control" name="configTrib_RTipoCalc" autocomplete="off">
                                         <option value="0">- Não usar -</option>
                                         <option value="1">Porcentagem</option>
                                         <option value="2">Em valor</option>
                                     </select>
                                </div>
                            </div>
                            <div class="col-sm-3 ">
                                <div class="form-group">
                                     <label for="exampleInputPassword1">Alíquota COFINS ST</label>
                                     <input type="text" class="form-control col-sm-8 " ng-model="empresa.numFunc" name="modoUso"  placeholder="modoUso">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane messages" id="messages">
            <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".collapseFour">
                    ESTOQUE
                    </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in collapseFour">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3 ">
                                <div class="form-group">
                                     <label for="exampleInputPassword1">Estoque Minimo</label>
                                     <input type="text" class="form-control col-sm-8 " ng-model="empresa.numFunc" name="modoUso"  placeholder="modoUso">
                                </div>
                            </div>
                            <div class="col-sm-3 ">
                                <div class="form-group">
                                     <label for="exampleInputPassword1">Estoque Atual</label>
                                     <input type="text" class="form-control col-sm-8 " ng-model="empresa.numFunc" name="modoUso"  placeholder="modoUso">
                                </div>
                            </div>
                            <div class="col-sm-3 ">
                                <div class="form-group">
                                     <label for="exampleInputPassword1">Estoque Maximo</label>
                                     <input type="text" class="form-control col-sm-8 " ng-model="empresa.numFunc" name="modoUso"  placeholder="modoUso">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div role="tabpanel" class="tab-pane messages" id="messages">
            <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".collapseFour">
                    Preços
                    </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in collapseFour">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3 ">
                                <div class="form-group">
                                     <label for="exampleInputPassword1">Margem de lucro</label>
                                     <input type="text" class="form-control col-sm-8 " ng-model="empresa.numFunc" name="modoUso"  placeholder="modoUso">
                                </div>
                            </div>
                            <div class="col-sm-3 ">
                                <div class="form-group">
                                     <label for="exampleInputPassword1">Preço de custo</label>
                                     <input type="text" class="form-control col-sm-8 " ng-model="empresa.numFunc" name="modoUso"  placeholder="modoUso">
                                </div>
                            </div>
                            <div class="col-sm-3 ">
                                <div class="form-group">
                                     <label for="exampleInputPassword1">Preço de venda</label>
                                     <input type="text" class="form-control col-sm-8 " ng-model="empresa.numFunc" name="modoUso"  placeholder="modoUso">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        </div>
        <div role="tabpanel" class="tab-pane settings" id="settings">martins</div>
    </div>
</div>

</body>
</html>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {

        function toggleChevron(e) {
            $(e.target)
                .prev('.panel-heading')
                .find("i.indicator")
                .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
        }
        $('#accordion').on('hidden.bs.collapse', toggleChevron);
        $('#accordion').on('shown.bs.collapse', toggleChevron);
        $('.addPhoneButton').on('click', function() {
            var $that     = $(this),
                $template = $('#template'),
                $newRow   = $template.clone().removeAttr('id').insertBefore($template).show();

            $that.parent().addClass('disabled');

            // Set the label and field name
            var fieldName = $that.attr('data-name');
            $newRow
                .find('.control-label')
                    .html($that.html())
                    .end()
                .find('input')
                    .attr('name', fieldName)
                    .end()
                .on('click', '.removeButton', function() {
                    // Remove field when clicking the Remove button
                    $('#contactForm').formValidation('removeField', fieldName);

                    // Enable the Add button
                    $that.parent().removeClass('disabled');

                    // Remove element
                    $newRow.remove();
                });

            // Add new field
            $('#contactForm').formValidation('addField', fieldName, {
                message: 'The phone number is not valid',
                validators: {
                    digits: {
                        message: 'The value can contain only digits'
                    }
                }
            });
        });

        $('#contactForm')
            .formValidation({
                message: 'This value is not valid',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    phone: {
                        message: 'The phone number is not valid',
                        validators: {
                            notEmpty: {
                                message: 'The phone number is required'
                            },
                            digits: {
                                message: 'The value can contain only digits'
                            }
                        }
                    }
                }
            })
            .on('err.field.fv', function(e, data) {
                console.log(data.field, data.element, '-->error');
            })
            .on('success.field.fv', function(e, data) {
                console.log(data.field, data.element, '-->success');
            });
    });
</script>
</body>
</html>