<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					



{BEGIN container_view}
<table class="runner-c runner-c-view" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-viewheader {$brickclass_viewheader}">C000010, Exibir Registro [
Código: {$show_key1}
]</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


	{BEGIN CODIGO_fieldblock}
	<tr class="runner-toprow header style1 runner-b-viewfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_CODIGO {$fielddispclass_CODIGO}">
			<b>Código</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_CODIGO {$fielddispclass_CODIGO}">
			{$CODIGO_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"><img src="images/spacer.gif"></td></tr>
{END CODIGO_fieldblock}
	{BEGIN NOME_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_NOME {$fielddispclass_NOME}">
			<b>Nome</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_NOME {$fielddispclass_NOME}">
			{$NOME_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END NOME_fieldblock}
	{BEGIN ENDERECO_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_ENDERECO {$fielddispclass_ENDERECO}">
			<b>Endereço</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_ENDERECO {$fielddispclass_ENDERECO}">
			{$ENDERECO_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END ENDERECO_fieldblock}
	{BEGIN BAIRRO_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_BAIRRO {$fielddispclass_BAIRRO}">
			<b>Bairro</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_BAIRRO {$fielddispclass_BAIRRO}">
			{$BAIRRO_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END BAIRRO_fieldblock}
	{BEGIN CIDADE_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_CIDADE {$fielddispclass_CIDADE}">
			<b>Cidade</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_CIDADE {$fielddispclass_CIDADE}">
			{$CIDADE_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END CIDADE_fieldblock}
	{BEGIN UF_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_UF {$fielddispclass_UF}">
			<b>UF</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_UF {$fielddispclass_UF}">
			{$UF_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END UF_fieldblock}
	{BEGIN CEP_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_CEP {$fielddispclass_CEP}">
			<b>CEP</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_CEP {$fielddispclass_CEP}">
			{$CEP_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END CEP_fieldblock}
	{BEGIN CPF_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_CPF {$fielddispclass_CPF}">
			<b>CPF</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_CPF {$fielddispclass_CPF}">
			{$CPF_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END CPF_fieldblock}
	{BEGIN RG_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_RG {$fielddispclass_RG}">
			<b>RG</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_RG {$fielddispclass_RG}">
			{$RG_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END RG_fieldblock}
	{BEGIN TELEFONE_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_TELEFONE {$fielddispclass_TELEFONE}">
			<b>Telefone</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_TELEFONE {$fielddispclass_TELEFONE}">
			{$TELEFONE_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END TELEFONE_fieldblock}
	{BEGIN CELULAR_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_CELULAR {$fielddispclass_CELULAR}">
			<b>Celular</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_CELULAR {$fielddispclass_CELULAR}">
			{$CELULAR_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END CELULAR_fieldblock}
	{BEGIN PLACA_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_PLACA {$fielddispclass_PLACA}">
			<b>Placa</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_PLACA {$fielddispclass_PLACA}">
			{$PLACA_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END PLACA_fieldblock}
	{BEGIN UFPLACA_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_UFPLACA {$fielddispclass_UFPLACA}">
			<b>UF Placa</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_UFPLACA {$fielddispclass_UFPLACA}">
			{$UFPLACA_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END UFPLACA_fieldblock}
	{BEGIN OBS1_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_OBS1 {$fielddispclass_OBS1}">
			<b>OBS</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_OBS1 {$fielddispclass_OBS1}">
			{$OBS1_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END OBS1_fieldblock}




<tr  class="runner-row style2 runner-b-viewbuttons {$brickclass_viewbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2>{BEGIN prev_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
</span>
{END prev_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Voltar à Lista</a>
</span>
{END back_button}
{BEGIN next_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
</span>
{END next_button}
</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_view}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_view}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
