<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					

{BEGIN container_grid}


{BEGIN grid_block}
{BEGIN page}
<h1>C000044</h1>
<span>
{BEGIN page_number}
Página {$pageno} de {$maxpages} 
{END page_number}
</span>

	<div class="runner-s-grid">	
	<table class="runner-c runner-c-grid" cellpadding="0">
		<thead>
		{BEGIN grid_header}
		<tr class="runner-toprow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			{BEGIN record_header}
					{BEGIN CODIGO_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN CODIGO_fieldheader}
	<b>Código</b>
	{END CODIGO_fieldheader}
</th>
{END CODIGO_fieldheadercolumn}
	{BEGIN CODCAIXA_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN CODCAIXA_fieldheader}
	<b>Código do Caixa</b>
	{END CODCAIXA_fieldheader}
</th>
{END CODCAIXA_fieldheadercolumn}
	{BEGIN CODOPERADOR_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN CODOPERADOR_fieldheader}
	<b>Código do Operador</b>
	{END CODOPERADOR_fieldheader}
</th>
{END CODOPERADOR_fieldheadercolumn}
	{BEGIN DATA_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN DATA_fieldheader}
	<b>Data</b>
	{END DATA_fieldheader}
</th>
{END DATA_fieldheadercolumn}
	{BEGIN SAIDA_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN SAIDA_fieldheader}
	<b>Saída</b>
	{END SAIDA_fieldheader}
</th>
{END SAIDA_fieldheadercolumn}
	{BEGIN ENTRADA_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN ENTRADA_fieldheader}
	<b>Entrada</b>
	{END ENTRADA_fieldheader}
</th>
{END ENTRADA_fieldheadercolumn}
	{BEGIN CODCONTA_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN CODCONTA_fieldheader}
	<b>Código da Conta</b>
	{END CODCONTA_fieldheader}
</th>
{END CODCONTA_fieldheadercolumn}
	{BEGIN HISTORICO_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN HISTORICO_fieldheader}
	<b>Histórico</b>
	{END HISTORICO_fieldheader}
</th>
{END HISTORICO_fieldheadercolumn}
	{BEGIN VALOR_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN VALOR_fieldheader}
	<b>Valor</b>
	{END VALOR_fieldheader}
</th>
{END VALOR_fieldheadercolumn}
	{BEGIN MOVIMENTO_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN MOVIMENTO_fieldheader}
	<b>Movimento</b>
	{END MOVIMENTO_fieldheader}
</th>
{END MOVIMENTO_fieldheadercolumn}
		
			{END record_header}
			<td class="runner-cr"><img src="images/spacer.gif"></td>
			{BEGIN endrecordheader_block}
			<td class="runner-cs">&nbsp;</td>
			{END endrecordheader_block}
		</tr>
	{END grid_header}
		</thead>
		<tbody>	
		{BEGIN grid_row}
	<tr class="runner-row style1" {$rowattrs} {$rowstyle} {$rowstyle}>
		<td class="runner-cl"></td>
		{BEGIN grid_record}
				{BEGIN CODIGO_fieldcolumn}
<td  class="runner-cc {$CODIGO_class}" {$CODIGO_style}>
	{$CODIGO_value}
</td>
{END CODIGO_fieldcolumn}
	{BEGIN CODCAIXA_fieldcolumn}
<td  class="runner-cc {$CODCAIXA_class}" {$CODCAIXA_style}>
	{$CODCAIXA_value}
</td>
{END CODCAIXA_fieldcolumn}
	{BEGIN CODOPERADOR_fieldcolumn}
<td  class="runner-cc {$CODOPERADOR_class}" {$CODOPERADOR_style}>
	{$CODOPERADOR_value}
</td>
{END CODOPERADOR_fieldcolumn}
	{BEGIN DATA_fieldcolumn}
<td  class="runner-cc {$DATA_class}" {$DATA_style}>
	{$DATA_value}
</td>
{END DATA_fieldcolumn}
	{BEGIN SAIDA_fieldcolumn}
<td  class="runner-cc {$SAIDA_class}" {$SAIDA_style}>
	{$SAIDA_value}
</td>
{END SAIDA_fieldcolumn}
	{BEGIN ENTRADA_fieldcolumn}
<td  class="runner-cc {$ENTRADA_class}" {$ENTRADA_style}>
	{$ENTRADA_value}
</td>
{END ENTRADA_fieldcolumn}
	{BEGIN CODCONTA_fieldcolumn}
<td  class="runner-cc {$CODCONTA_class}" {$CODCONTA_style}>
	{$CODCONTA_value}
</td>
{END CODCONTA_fieldcolumn}
	{BEGIN HISTORICO_fieldcolumn}
<td  class="runner-cc {$HISTORICO_class}" {$HISTORICO_style}>
	{$HISTORICO_value}
</td>
{END HISTORICO_fieldcolumn}
	{BEGIN VALOR_fieldcolumn}
<td  class="runner-cc {$VALOR_class}" {$VALOR_style}>
	{$VALOR_value}
</td>
{END VALOR_fieldcolumn}
	{BEGIN MOVIMENTO_fieldcolumn}
<td  class="runner-cc {$MOVIMENTO_class}" {$MOVIMENTO_style}>
	{$MOVIMENTO_value}
</td>
{END MOVIMENTO_fieldcolumn}

		{END grid_record}
		<td class="runner-cr"></td>
		{BEGIN endrecord_block}
		<td class="runner-cs">&nbsp;</td>
		{END endrecord_block}
	</tr>
{END grid_row}
										
								<tr class="runner-bottomrow style1">
									<td class="runner-cl"><img src="images/spacer.gif"></td>
									{BEGIN record_footer}
									{BEGIN CODIGO_fieldfootercolumn}
<td class="runner-cc "></td>
{END CODIGO_fieldfootercolumn}
{BEGIN CODCAIXA_fieldfootercolumn}
<td class="runner-cc "></td>
{END CODCAIXA_fieldfootercolumn}
{BEGIN CODOPERADOR_fieldfootercolumn}
<td class="runner-cc "></td>
{END CODOPERADOR_fieldfootercolumn}
{BEGIN DATA_fieldfootercolumn}
<td class="runner-cc "></td>
{END DATA_fieldfootercolumn}
{BEGIN SAIDA_fieldfootercolumn}
<td class="runner-cc "></td>
{END SAIDA_fieldfootercolumn}
{BEGIN ENTRADA_fieldfootercolumn}
<td class="runner-cc "></td>
{END ENTRADA_fieldfootercolumn}
{BEGIN CODCONTA_fieldfootercolumn}
<td class="runner-cc "></td>
{END CODCONTA_fieldfootercolumn}
{BEGIN HISTORICO_fieldfootercolumn}
<td class="runner-cc "></td>
{END HISTORICO_fieldfootercolumn}
{BEGIN VALOR_fieldfootercolumn}
<td class="runner-cc "></td>
{END VALOR_fieldfootercolumn}
{BEGIN MOVIMENTO_fieldfootercolumn}
<td class="runner-cc runner-clast"></td>
{END MOVIMENTO_fieldfootercolumn}

									{END record_footer}
									<td class="runner-cr"><img src="images/spacer.gif"></td>
									{BEGIN endrecordtotals_block}
									<td class="runner-cs"></td>
									{END endrecordtotals_block}
								</tr>

		</tbody>
	</table>
</div>	
{END page}

{END grid_block}



{END container_grid}


				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
